################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QPR_Application/v17/.suo
*.vsidx
/QPR_Application/bin/Debug/net6.0/QPR_Application.dll
/QPR_Application/bin/Debug/net6.0/QPR_Application.pdb
/QPR_Application/obj/Debug/net6.0/ref/QPR_Application.dll
/QPR_Application/obj/Debug/net6.0/refint/QPR_Application.dll
/QPR_Application/obj/Debug/net6.0/QPR_Application.csproj.CoreCompileInputs.cache
/QPR_Application/obj/Debug/net6.0/QPR_Application.dll
/QPR_Application/obj/Debug/net6.0/QPR_Application.pdb
