html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 10px 25px;
    font-size: 14px;
}

table input {
    width: 100%;
    text-align: center;
    font-size: 14px !important;
    /*border: none;*/
}

/*remove arrows from input[number]*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.w-10 {
    width: 10%;
}
.w-12 {
    width:12%;
}
.w-15 {
    width: 15%;
}
.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.center {
    margin: auto;
    border: 2px solid #73AD21;
    padding: 10px;
    font-size: 12px;
}

    .center p {
        margin-bottom: 18px;
        font-size: 14px;
        color: blue;
    }

.tr-grey {
    background-color: rgb(217, 217, 217)
}



.box-green {
    padding: 5px;
    margin: auto;
    border: 1px solid #4192f4;
    background: rgb(204, 255, 204);
}

.table-blue th {
    background-color: rgb(77,109,244) !important;
    color: white;
    font-weight: 300;
    /*font-size: 18px;*/
}

.table-white th {
    background-color: white !important;
    color: black;
    font-weight: 500;
}

.table-padding td {
    padding: 0.25em !important;
    vertical-align: middle !important;
}

textarea:focus, input:focus {
    outline: none;
}

/* Apply styles only when printing */
@media print {
    .no-print {
        display: none; /* Hide this element during printing */
    }

    .form-control{
        border: none !important;
    }

    td input {
        font-size: 75%;
    }
}

.swal2-html-container {
    font-size: 15px !important; /* Adjust the font size as needed */
}
