html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 10px 25px;
}

table input {
    width: 100%;
    text-align: center;
    /*border: none;*/
}

/*remove arrows from input[number]*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.center {
    margin: auto;
    border: 2px solid #73AD21;
    padding: 10px;
    font-size: 12px;
}


.tr-grey{
    background-color: rgb(217, 217, 217)
}

.box-green {
    padding: 5px;
    margin: auto;
    border: 1px solid #4192f4;
    background: rgb(204, 255, 204);
}

.table-blue th{
    background-color: rgb(77,109,244) !important;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.table-padding td {
    padding: 0.25em !important;
    vertical-align: middle !important;
}