
@{
    ViewData["Title"] = "Index";
    // var userName = ViewBag["UserName"];
}

<h1>Hi @ViewBag.UserName</h1>
<h3>Index</h3>
<a asp-action="AllUsers" asp-controller="User">
    Show All Users
</a>

