@{
    ViewData["Title"] = "Index";
    // var userName = ViewBag["UserName"];
}

<style>
    a{
        text-decoration:none;
    }
</style>

<h2>Admin</h2>
@* <h3>Index</h3> *@
<a asp-action="AllUsers" asp-controller="ManageUser">
    <button class="btn btn-primary" >Show All Users</button>
</a>
@* <div ></div> *@

<a class="ms-3" asp-action="CreateUser" asp-controller="ManageUser">
    <button class="btn btn-primary">Create User</button>
</a>

<a class="ms-3" asp-action="Index" asp-controller="ManageQPR">
    <button class="btn btn-primary">All QPR</button>
</a>

