@{
    ViewData["Title"] = "Index";
}

<style>
    a {
        text-decoration: none;
    }
</style>
<div class="container mt-5 mb-5" style="margin-bottom: 45em !important;">

    <h2>Admin</h2>

    <a class="btn btn-primary" asp-action="AllUsers" asp-controller="ManageUser">
        Manage Users
    </a>

    <a class="ms-3 btn btn-primary" asp-action="Index" asp-controller="ManageQPR">
        Manage QPR
    </a>

    <a class="ms-3 btn btn-primary" asp-controller="ManageOrg" asp-action="Index">
        Manage Organisations
    </a>

    <a class="ms-3 btn btn-primary" asp-controller="Admin" asp-action="AdminSettings">
        Settings
    </a>

</div>

