@{
    ViewData["Title"] = "Index";
    // var userName = ViewBag["UserName"];
}

<style>
    a {
        text-decoration: none;
    }
</style>
<div class="container">

    <h2>Admin</h2>
    @* <h3>Index</h3> *@
    <a class="btn btn-primary" asp-action="AllUsers" asp-controller="ManageUser">
        Show All Users
    </a>
    @* <div ></div> *@

    <a class="ms-3 btn btn-primary" asp-action="CreateUser" asp-controller="ManageUser">
        Create User
    </a>

    <a class="ms-3 btn btn-primary" asp-action="Index" asp-controller="ManageQPR">
        All QPR
    </a>
</div>

