@model QPR_Application.Models.Entities.adviceofcvcqrs

@{
    ViewData["Title"] = "AdviceOfCVC";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Advice Of CVC</h3>
</div>
<hr />
<form asp-action="AdviceOfCVC">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            5. Advice of CVC & action taken thereon (nos)
        </b>
    </div>

    <div class="w-80 mt-2 mb-3 box-green ">
        <b>
            5.(A) Advice CVC(Nos)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>Stage of Advice</b></th>
                    <th rowspan="2"><b>Cases referred to CVC &amp; advice awaited (B/F from previous quarter) </b></th>
                    <th rowspan="2"><b>Cases referred to CVC during the quarter</b></th>
                    <th rowspan="2"><b>Advice received during the Quarter</b></th>
                    <th rowspan="2"><b>Advice awaited from CVC</b><br>5=(2+3- 4)</th>
                </tr>
                <tr></tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                </tr>
                <tr>
                    <td align="left"> <b>&nbsp;&nbsp;1st</b> </td>
                    <td><b><input asp-for="advice_cvc_first_casespreviousqtr" name="advice_cvc_first_casespreviousqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_first_casesduringqtr" name="advice_cvc_first_casesduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_first_adviceduringqtr" name="advice_cvc_first_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_first_adviceawaitedcvc" name="advice_cvc_first_adviceawaitedcvc" onkeypress="return isNumberKey(event);" class=" form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;2nd</b></td>
                    <td><b><input asp-for="advice_cvc_second_casespreviousqtr" name="advice_cvc_second_casespreviousqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_second_casesduringqtr" name="advice_cvc_second_casesduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_second_adviceduringqtr" name="advice_cvc_second_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_second_adviceawaitedcvc" name="advice_cvc_second_adviceawaitedcvc" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;1st stage &nbsp;&nbsp;reconsideration</b></td>
                    <td><b><input asp-for="advice_cvc_firstreconsider_casespreviousqtr" name="advice_cvc_firstreconsider_casespreviousqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_firstreconsider_casesduringqtr" name="advice_cvc_firstreconsider_casesduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_firstreconsider_adviceduringqtr" name="advice_cvc_firstreconsider_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_firstreconsider_adviceawaitedcvc" name="advice_cvc_firstreconsider_adviceawaitedcvc" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;2nd stage &nbsp;&nbsp;reconsideration</b></td>
                    <td><b><input asp-for="advice_cvc_secondreconsider_casespreviousqtr" name="advice_cvc_secondreconsider_casespreviousqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_secondreconsider_casesduringqtr" name="advice_cvc_secondreconsider_casesduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_secondreconsider_adviceduringqtr" name="advice_cvc_secondreconsider_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_secondreconsider_adviceawaitedcvc" name="advice_cvc_secondreconsider_adviceawaitedcvc" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;Total</b></td>
                    <td><b><input asp-for="advice_cvc_total_casespreviousqtr" name="advice_cvc_total_casespreviousqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_total_casesduringqtr" name="advice_cvc_total_casesduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_total_adviceduringqtr" name="advice_cvc_total_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="advice_cvc_total_adviceawaitedcvc" name="advice_cvc_total_adviceawaitedcvc" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            5.(B) Action on CVC Advice(Nos)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>Stage of Advice</b></th>
                    <th rowspan="2"><b>Type of Proceeding </b></th>
                    <th rowspan="2"><b>Opening Balance</b></th>
                    <th rowspan="2"><b>Advices received during the Quarter</b></th>
                    <th rowspan="2"><b>Disposed<sup><span style="color: red;">*</span></sup></b></th>
                    <th rowspan="2"><b>Balance Pending<br>6=3+4-5</b></th>
                    <th colspan="4"><b>Age wise Pendency(Months) </b></th>
                </tr>
                <tr class="text-center">
                    <th>
                        &lt;1
                    </th>
                    <th>
                        1-3
                    </th>
                    <th>
                        3-6
                    </th>
                    <th>
                        &gt;6
                    </th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                    <td>&nbsp;<b>(10)</b></td>
                </tr>
                <tr>
                    <td align="left" rowspan="2"> <b>&nbsp;&nbsp;1st</b> </td>
                    <td><b>Major pp</b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_openingbalance" name="action_cvc_firstmajor_openingbalance" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_adviceduringqtr" name="action_cvc_firstmajor_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_disposed" name="action_cvc_firstmajor_disposed" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_balancepending" name="action_cvc_firstmajor_balancepending" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_greaterone" name="action_cvc_firstmajor_greaterone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_onetothree" name="action_cvc_firstmajor_onetothree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_threetosix" name="action_cvc_firstmajor_threetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstmajor_lesssix" name="action_cvc_firstmajor_lesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td><b>Minor pp</b></td>
                    <td><b><input asp-for="action_cvc_firstminor_openingbalance" name="action_cvc_firstminor_openingbalance" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_adviceduringqtr" name="action_cvc_firstminor_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_disposed" name="action_cvc_firstminor_disposed" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_balancepending" name="action_cvc_firstminor_balancepending" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_greaterone" name="action_cvc_firstminor_greaterone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_onetothree" name="action_cvc_firstminor_onetothree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_threetosix" name="action_cvc_firstminor_threetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_firstminor_lesssix" name="action_cvc_firstminor_lesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left" rowspan="2"><b>&nbsp;&nbsp;2nd</b></td>
                    <td><b>Major Penalty</b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_openingbalance" name="action_cvc_secondmajor_openingbalance" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_adviceduringqtr" name="action_cvc_secondmajor_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_disposed" name="action_cvc_secondmajor_disposed" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_balancepending" name="action_cvc_secondmajor_balancepending" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_greaterone" name="action_cvc_secondmajor_greaterone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_onetothree" name="action_cvc_secondmajor_onetothree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_threetosix" name="action_cvc_secondmajor_threetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondmajor_lesssix" name="action_cvc_secondmajor_lesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td><b>Minor Penalty</b></td>
                    <td><b><input asp-for="action_cvc_secondminor_openingbalance" name="action_cvc_secondminor_openingbalance" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_adviceduringqtr" name="action_cvc_secondminor_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_disposed" name="action_cvc_secondminor_disposed" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_balancepending" name="action_cvc_secondminor_balancepending" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_greaterone" name="action_cvc_secondminor_greaterone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_onetothree" name="action_cvc_secondminor_onetothree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_threetosix" name="action_cvc_secondminor_threetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_secondminor_lesssix" name="action_cvc_secondminor_lesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;Total</b></td>
                    <td>&nbsp;</td>
                    <td><b><input asp-for="action_cvc_total_openingbalance" name="action_cvc_total_openingbalance" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_adviceduringqtr" name="action_cvc_total_adviceduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_disposed" name="action_cvc_total_disposed" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_balancepending" name="action_cvc_total_balancepending" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_greaterone" name="action_cvc_total_greaterone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_onetothree" name="action_cvc_total_onetothree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_threetosix" name="action_cvc_total_threetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="action_cvc_total_lesssix" name="action_cvc_total_lesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="center w-70 mt-2">
        <p>Explanation: <sup><span style="color: red;">*</span></sup>Disposal criteria: 1<strong><sup>st</sup></strong> stage- Major is on appointment of IO/PO. 1st stage- Minor is on issue of final orders.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2<strong><sup>nd</sup></strong> stage – Major &amp; Minor – issue of final orders by DA</p>

    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            5.(C) Non-Acceptance / deviation of CVC Advice
        </b>
    </div>
    @* <input id="name_of_officer_advice_cvc" class="form-control" onkeypress="return isNumberKey(event);" name="totalOfficer" style="width:25%" type="number" value="" maxlength="3"> *@

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top:10px;">
                    <td width="15%" align="left" valign="middle">
                        No of Rows:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            <input id="name_of_officer_advice_cvc" onkeypress="return isNumberKey(event);" name="totalOfficer" style="float:left;width:25%" type="number" class="form-control" maxlength="3">
                            <input type="button" class="add-row-advice_cvc btn btn-outline-primary ms-1" value="Add" style="width: 10%">
                        </span>
                        <input id="totRows" name="totRows" type="hidden" value="0">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="officerNumber" path="ageWisePendingDto" class="table table-striped table-bordered  text-align-middle ">
                            <thead>
                                <tr class="text-center">
                                    <th style="width:1%"><b>S.No.</b></th>
                                    <th style="width:14%"><b>Type</b></th>
                                    <th style="width:14%"><b>Nature of CVC Advice</b></th>
                                    <th style="width:14%"><b>CVC File No.</b></th>
                                    <th style="width:14%"><b>Dept. Ref. No.</b></th>
                                    <th style="width:14%"><b>Name of Officer and Designaion</b></th>
                                    <th style="width:14%"><b>Name &amp; Designation of DA</b></th>
                                    <th style="width:14%"><b>Action taken by DA</b></th>
                                    <th style="width:1%"><b>Delete</b></th>
                                </tr> 
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            5.(D) Appellate Authority Deviations (Deviation / Non-acceptance)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top:10px;">
                    <td width="15%" align="left" valign="middle">
                        No of Rows:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            <input id="authorityMajor" class="form-control" onkeypress="return isNumberKey(event);" name="totalOfficerMajor" style="float:left;width:25%" type="number" value="" maxlength="3">
                            <input type="button" class="addauthority btn btn-outline-primary ms-1" value="Add" style="width: 10%">
                        </span>
                        <input id="authorityRows" name="authorityRows" type="hidden" value="0">
                    </td>

                </tr>
                <tr class="text-center">
                    <td colspan="4">
                        <table id="officerauthority" width="100%" border="1" align="center" cellpadding="10" cellspacing="1" class="table table-striped table-bordered text-align-middle secondOfficerMinor">
                            <thead>
                                <tr>
                                    <th style="width:1%"><b>S.No.</b></th>
                                    <th style="width:14%"><b>Type</b></th>
                                    <th style="width:14%"><b>Nature of CVC Advice</b></th>
                                    <th style="width:14%"><b>CVC File No.</b></th>
                                    <th style="width:14%"><b>Dept. Ref. No.</b></th>
                                    <th style="width:14%"><b>Name of Officer and Designaion</b></th>
                                    <th style="width:14%"><b>Name &amp; Designation of DA</b></th>
                                    <th style="width:14%"><b>Action taken by DA</b></th>
                                    <th style="width:1%"><b>Delete</b></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="center w-70 mt-2">
        <p><sup><span style="color: red;">*</span></sup>for 5 (C) &amp; 5 (D) - Type /Nature of CVC Advice – ( in drop down menu)</p>
        <p>&nbsp;Sanction for Prosecution/ Denial of Prosecution/ First stage –Major pp/ Minor pp/Admn Action </p>
        <p>Second Stage – Imposition of Major penalty/Minor penalty/ Exoneration</p>

    </div>

    <div class="w-25 m-auto">
        @if (ViewBag.ComplaintsMessage != null)
        {
            @ViewBag.ComplaintsMessage
        }
    </div>

    <div class="d-flex justify-content-between w-80 m-auto mt-5">
        <a class="btn btn-secondary" asp-action="DepartmentalProceedings">Back</a>
        <input type="submit" value="Save" class="btn btn-success" asp-action="SaveAdviceOfCVC" />
        <input type="submit" value="Next" class="btn btn-primary " />
    </div>

</form>



<div class="row">
   @*  <div class="col-md-4">

        <div class="form-group">
            <label asp-for="advice_cvc_id" class="control-label"></label>
            <input asp-for="advice_cvc_id" class="form-control" />
            <span asp-validation-for="advice_cvc_id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_first_casespreviousqtr" class="control-label"></label>
            <input asp-for="advice_cvc_first_casespreviousqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_first_casespreviousqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_first_casesduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_first_casesduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_first_casesduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_first_adviceduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_first_adviceduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_first_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_first_adviceawaitedcvc" class="control-label"></label>
            <input asp-for="advice_cvc_first_adviceawaitedcvc" class="form-control" />
            <span asp-validation-for="advice_cvc_first_adviceawaitedcvc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_second_casespreviousqtr" class="control-label"></label>
            <input asp-for="advice_cvc_second_casespreviousqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_second_casespreviousqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_second_casesduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_second_casesduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_second_casesduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_second_adviceduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_second_adviceduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_second_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_second_adviceawaitedcvc" class="control-label"></label>
            <input asp-for="advice_cvc_second_adviceawaitedcvc" class="form-control" />
            <span asp-validation-for="advice_cvc_second_adviceawaitedcvc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_firstreconsider_casespreviousqtr" class="control-label"></label>
            <input asp-for="advice_cvc_firstreconsider_casespreviousqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_firstreconsider_casespreviousqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_firstreconsider_casesduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_firstreconsider_casesduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_firstreconsider_casesduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_firstreconsider_adviceduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_firstreconsider_adviceduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_firstreconsider_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_firstreconsider_adviceawaitedcvc" class="control-label"></label>
            <input asp-for="advice_cvc_firstreconsider_adviceawaitedcvc" class="form-control" />
            <span asp-validation-for="advice_cvc_firstreconsider_adviceawaitedcvc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_secondreconsider_casespreviousqtr" class="control-label"></label>
            <input asp-for="advice_cvc_secondreconsider_casespreviousqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_secondreconsider_casespreviousqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_secondreconsider_casesduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_secondreconsider_casesduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_secondreconsider_casesduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_secondreconsider_adviceduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_secondreconsider_adviceduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_secondreconsider_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_secondreconsider_adviceawaitedcvc" class="control-label"></label>
            <input asp-for="advice_cvc_secondreconsider_adviceawaitedcvc" class="form-control" />
            <span asp-validation-for="advice_cvc_secondreconsider_adviceawaitedcvc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_total_casespreviousqtr" class="control-label"></label>
            <input asp-for="advice_cvc_total_casespreviousqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_total_casespreviousqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_total_casesduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_total_casesduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_total_casesduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_total_adviceduringqtr" class="control-label"></label>
            <input asp-for="advice_cvc_total_adviceduringqtr" class="form-control" />
            <span asp-validation-for="advice_cvc_total_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="advice_cvc_total_adviceawaitedcvc" class="control-label"></label>
            <input asp-for="advice_cvc_total_adviceawaitedcvc" class="form-control" />
            <span asp-validation-for="advice_cvc_total_adviceawaitedcvc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_openingbalance" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_openingbalance" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_openingbalance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_adviceduringqtr" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_adviceduringqtr" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_disposed" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_disposed" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_disposed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_balancepending" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_balancepending" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_balancepending" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_greaterone" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_greaterone" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_greaterone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_onetothree" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_onetothree" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_onetothree" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_threetosix" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_threetosix" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_threetosix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstmajor_lesssix" class="control-label"></label>
            <input asp-for="action_cvc_firstmajor_lesssix" class="form-control" />
            <span asp-validation-for="action_cvc_firstmajor_lesssix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_openingbalance" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_openingbalance" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_openingbalance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_adviceduringqtr" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_adviceduringqtr" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_disposed" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_disposed" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_disposed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_balancepending" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_balancepending" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_balancepending" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_greaterone" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_greaterone" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_greaterone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_onetothree" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_onetothree" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_onetothree" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_threetosix" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_threetosix" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_threetosix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_firstminor_lesssix" class="control-label"></label>
            <input asp-for="action_cvc_firstminor_lesssix" class="form-control" />
            <span asp-validation-for="action_cvc_firstminor_lesssix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_openingbalance" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_openingbalance" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_openingbalance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_adviceduringqtr" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_adviceduringqtr" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_disposed" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_disposed" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_disposed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_balancepending" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_balancepending" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_balancepending" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_greaterone" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_greaterone" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_greaterone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_onetothree" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_onetothree" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_onetothree" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_threetosix" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_threetosix" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_threetosix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondmajor_lesssix" class="control-label"></label>
            <input asp-for="action_cvc_secondmajor_lesssix" class="form-control" />
            <span asp-validation-for="action_cvc_secondmajor_lesssix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_openingbalance" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_openingbalance" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_openingbalance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_adviceduringqtr" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_adviceduringqtr" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_disposed" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_disposed" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_disposed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_balancepending" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_balancepending" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_balancepending" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_greaterone" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_greaterone" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_greaterone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_onetothree" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_onetothree" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_onetothree" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_threetosix" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_threetosix" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_threetosix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_secondminor_lesssix" class="control-label"></label>
            <input asp-for="action_cvc_secondminor_lesssix" class="form-control" />
            <span asp-validation-for="action_cvc_secondminor_lesssix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_openingbalance" class="control-label"></label>
            <input asp-for="action_cvc_total_openingbalance" class="form-control" />
            <span asp-validation-for="action_cvc_total_openingbalance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_adviceduringqtr" class="control-label"></label>
            <input asp-for="action_cvc_total_adviceduringqtr" class="form-control" />
            <span asp-validation-for="action_cvc_total_adviceduringqtr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_disposed" class="control-label"></label>
            <input asp-for="action_cvc_total_disposed" class="form-control" />
            <span asp-validation-for="action_cvc_total_disposed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_balancepending" class="control-label"></label>
            <input asp-for="action_cvc_total_balancepending" class="form-control" />
            <span asp-validation-for="action_cvc_total_balancepending" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_greaterone" class="control-label"></label>
            <input asp-for="action_cvc_total_greaterone" class="form-control" />
            <span asp-validation-for="action_cvc_total_greaterone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_onetothree" class="control-label"></label>
            <input asp-for="action_cvc_total_onetothree" class="form-control" />
            <span asp-validation-for="action_cvc_total_onetothree" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_threetosix" class="control-label"></label>
            <input asp-for="action_cvc_total_threetosix" class="form-control" />
            <span asp-validation-for="action_cvc_total_threetosix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="action_cvc_total_lesssix" class="control-label"></label>
            <input asp-for="action_cvc_total_lesssix" class="form-control" />
            <span asp-validation-for="action_cvc_total_lesssix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_firststage_typecvcadvice" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_firststage_typecvcadvice" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_firststage_typecvcadvice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_firststage_cvcfilenumber" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_firststage_cvcfilenumber" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_firststage_cvcfilenumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_firststage_dept_ref_number" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_firststage_dept_ref_number" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_firststage_dept_ref_number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_firststage_name_designation" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_firststage_name_designation" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_firststage_name_designation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_firststage_actiontaken_da" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_firststage_actiontaken_da" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_firststage_actiontaken_da" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_secondstage_typecvcadvice" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_secondstage_typecvcadvice" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_secondstage_typecvcadvice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_secondstage_cvcfilenumber" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_secondstage_cvcfilenumber" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_secondstage_cvcfilenumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_secondstage_dept_ref_number" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_secondstage_dept_ref_number" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_secondstage_dept_ref_number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_secondstage_name_designation" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_secondstage_name_designation" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_secondstage_name_designation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_secondstage_actiontaken_da" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_secondstage_actiontaken_da" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_secondstage_actiontaken_da" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_firststage_typecvcadvice" class="control-label"></label>
            <input asp-for="appellate_deviation_firststage_typecvcadvice" class="form-control" />
            <span asp-validation-for="appellate_deviation_firststage_typecvcadvice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_firststage_cvcfilenumber" class="control-label"></label>
            <input asp-for="appellate_deviation_firststage_cvcfilenumber" class="form-control" />
            <span asp-validation-for="appellate_deviation_firststage_cvcfilenumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_firststage_dept_ref_number" class="control-label"></label>
            <input asp-for="appellate_deviation_firststage_dept_ref_number" class="form-control" />
            <span asp-validation-for="appellate_deviation_firststage_dept_ref_number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_firststage_name_designation" class="control-label"></label>
            <input asp-for="appellate_deviation_firststage_name_designation" class="form-control" />
            <span asp-validation-for="appellate_deviation_firststage_name_designation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_firststage_actiontaken_da" class="control-label"></label>
            <input asp-for="appellate_deviation_firststage_actiontaken_da" class="form-control" />
            <span asp-validation-for="appellate_deviation_firststage_actiontaken_da" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_firststage_actiontaken_aa" class="control-label"></label>
            <input asp-for="appellate_deviation_firststage_actiontaken_aa" class="form-control" />
            <span asp-validation-for="appellate_deviation_firststage_actiontaken_aa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_secondstage_typecvcadvice" class="control-label"></label>
            <input asp-for="appellate_deviation_secondstage_typecvcadvice" class="form-control" />
            <span asp-validation-for="appellate_deviation_secondstage_typecvcadvice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_secondstage_cvcfilenumber" class="control-label"></label>
            <input asp-for="appellate_deviation_secondstage_cvcfilenumber" class="form-control" />
            <span asp-validation-for="appellate_deviation_secondstage_cvcfilenumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_secondstage_dept_ref_number" class="control-label"></label>
            <input asp-for="appellate_deviation_secondstage_dept_ref_number" class="form-control" />
            <span asp-validation-for="appellate_deviation_secondstage_dept_ref_number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_secondstage_name_designation" class="control-label"></label>
            <input asp-for="appellate_deviation_secondstage_name_designation" class="form-control" />
            <span asp-validation-for="appellate_deviation_secondstage_name_designation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_secondstage_actiontaken_da" class="control-label"></label>
            <input asp-for="appellate_deviation_secondstage_actiontaken_da" class="form-control" />
            <span asp-validation-for="appellate_deviation_secondstage_actiontaken_da" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="appellate_deviation_secondstage_actiontaken_aa" class="control-label"></label>
            <input asp-for="appellate_deviation_secondstage_actiontaken_aa" class="form-control" />
            <span asp-validation-for="appellate_deviation_secondstage_actiontaken_aa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="create_date" class="control-label"></label>
            <input asp-for="create_date" class="form-control" />
            <span asp-validation-for="create_date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user_id" class="control-label"></label>
            <input asp-for="user_id" class="form-control" />
            <span asp-validation-for="user_id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="update_date" class="control-label"></label>
            <input asp-for="update_date" class="form-control" />
            <span asp-validation-for="update_date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="last_user_id" class="control-label"></label>
            <input asp-for="last_user_id" class="form-control" />
            <span asp-validation-for="last_user_id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="qpr_id" class="control-label"></label>
            <input asp-for="qpr_id" class="form-control" />
            <span asp-validation-for="qpr_id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ip" class="control-label"></label>
            <input asp-for="ip" class="form-control" />
            <span asp-validation-for="ip" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_firststage_name_designation_da" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_firststage_name_designation_da" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_firststage_name_designation_da" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="deviation_cvc_advice_secondstage_name_designation_da" class="control-label"></label>
            <input asp-for="deviation_cvc_advice_secondstage_name_designation_da" class="form-control" />
            <span asp-validation-for="deviation_cvc_advice_secondstage_name_designation_da" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div> *@
</div>
@* 
<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
