@model QPR_Application.Models.DTO.Request.ChangePassword;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Change Password</h3>
</div>
<hr />

<form asp-action="ChangePassword">
    <div class="m-auto" style="width:15%">
        <label asp-for="OldPassword" class="control-label">Old Password</label>
        <input class="form-control" asp-for="OldPassword" />
        <div class="text-center mt-1">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>        
        <label asp-for="NewPassword" class="control-label">New Password</label>
        <input class="form-control" asp-for="NewPassword" />
        <div class="text-center mt-1">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
        <input class="form-control" asp-for="ConfirmPassword" />
        <div class="text-center mt-1">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="w-100">
            <div class="m-auto text-center mt-1 text-danger">

                @if (ViewBag.ComplaintsMessage != null)
                {
                    @ViewBag.ComplaintsMessage
                }

            </div>
        </div>
        <div class="mt-5 text-center">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>



