@model QPR_Application.Models.Entities.complaintsqrs

@{
    ViewData["Title"] = "Complaints";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Complaints</h1>

<h4>complaintsqrs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Complaints">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="complaints_id" class="control-label"></label>
                <input asp-for="complaints_id" class="form-control" />
                <span asp-validation-for="complaints_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcopeningbalance" class="control-label"></label>
                <input asp-for="comcvcopeningbalance" class="form-control" />
                <span asp-validation-for="comcvcopeningbalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcreceived_during_quarter" class="control-label"></label>
                <input asp-for="comcvcreceived_during_quarter" class="form-control" />
                <span asp-validation-for="comcvcreceived_during_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvctotal" class="control-label"></label>
                <input asp-for="comcvctotal" class="form-control" />
                <span asp-validation-for="comcvctotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcdisposal_during_quarter" class="control-label"></label>
                <input asp-for="comcvcdisposal_during_quarter" class="form-control" />
                <span asp-validation-for="comcvcdisposal_during_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcbalance_pending" class="control-label"></label>
                <input asp-for="comcvcbalance_pending" class="form-control" />
                <span asp-validation-for="comcvcbalance_pending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcage_less_one" class="control-label"></label>
                <input asp-for="comcvcage_less_one" class="form-control" />
                <span asp-validation-for="comcvcage_less_one" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcage_pendency_betweenone_three" class="control-label"></label>
                <input asp-for="comcvcage_pendency_betweenone_three" class="form-control" />
                <span asp-validation-for="comcvcage_pendency_betweenone_three" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comcvcage_pendency_betweenthree_six" class="control-label"></label>
                <input asp-for="comcvcage_pendency_betweenthree_six" class="form-control" />
                <span asp-validation-for="comcvcage_pendency_betweenthree_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotheropeningbalance" class="control-label"></label>
                <input asp-for="comotheropeningbalance" class="form-control" />
                <span asp-validation-for="comotheropeningbalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotherreceived_during_quarter" class="control-label"></label>
                <input asp-for="comotherreceived_during_quarter" class="form-control" />
                <span asp-validation-for="comotherreceived_during_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comothertotal" class="control-label"></label>
                <input asp-for="comothertotal" class="form-control" />
                <span asp-validation-for="comothertotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotherdisposal_during_quarter" class="control-label"></label>
                <input asp-for="comotherdisposal_during_quarter" class="form-control" />
                <span asp-validation-for="comotherdisposal_during_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotherbalance_pending" class="control-label"></label>
                <input asp-for="comotherbalance_pending" class="form-control" />
                <span asp-validation-for="comotherbalance_pending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotherage_less_one" class="control-label"></label>
                <input asp-for="comotherage_less_one" class="form-control" />
                <span asp-validation-for="comotherage_less_one" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotherage_pendency_betweenone_three" class="control-label"></label>
                <input asp-for="comotherage_pendency_betweenone_three" class="form-control" />
                <span asp-validation-for="comotherage_pendency_betweenone_three" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comotherage_pendency_betweenthree_six" class="control-label"></label>
                <input asp-for="comotherage_pendency_betweenthree_six" class="form-control" />
                <span asp-validation-for="comotherage_pendency_betweenthree_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotalopeningbalance" class="control-label"></label>
                <input asp-for="comtotalopeningbalance" class="form-control" />
                <span asp-validation-for="comtotalopeningbalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotalreceived_during_quarter" class="control-label"></label>
                <input asp-for="comtotalreceived_during_quarter" class="form-control" />
                <span asp-validation-for="comtotalreceived_during_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotal" class="control-label"></label>
                <input asp-for="comtotal" class="form-control" />
                <span asp-validation-for="comtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotaldisposal_during_quarter" class="control-label"></label>
                <input asp-for="comtotaldisposal_during_quarter" class="form-control" />
                <span asp-validation-for="comtotaldisposal_during_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotalbalance_pending" class="control-label"></label>
                <input asp-for="comtotalbalance_pending" class="form-control" />
                <span asp-validation-for="comtotalbalance_pending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotalage_less_one" class="control-label"></label>
                <input asp-for="comtotalage_less_one" class="form-control" />
                <span asp-validation-for="comtotalage_less_one" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotalage_pendency_betweenone_three" class="control-label"></label>
                <input asp-for="comtotalage_pendency_betweenone_three" class="form-control" />
                <span asp-validation-for="comtotalage_pendency_betweenone_three" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comtotalage_pendency_betweenthree_six" class="control-label"></label>
                <input asp-for="comtotalage_pendency_betweenthree_six" class="form-control" />
                <span asp-validation-for="comtotalage_pendency_betweenthree_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_signed_complaints" class="control-label"></label>
                <input asp-for="complaints_signed_complaints" class="form-control" />
                <span asp-validation-for="complaints_signed_complaints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_department" class="control-label"></label>
                <input asp-for="complaints_department" class="form-control" />
                <span asp-validation-for="complaints_department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_cbi" class="control-label"></label>
                <input asp-for="complaints_cbi" class="form-control" />
                <span asp-validation-for="complaints_cbi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_other" class="control-label"></label>
                <input asp-for="complaints_other" class="form-control" />
                <span asp-validation-for="complaints_other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_audit" class="control-label"></label>
                <input asp-for="complaints_audit" class="form-control" />
                <span asp-validation-for="complaints_audit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_detected" class="control-label"></label>
                <input asp-for="complaints_detected" class="form-control" />
                <span asp-validation-for="complaints_detected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_cbi_action" class="control-label"></label>
                <input asp-for="complaints_cbi_action" class="form-control" />
                <span asp-validation-for="complaints_cbi_action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_cvoinvestigation" class="control-label"></label>
                <input asp-for="complaints_cvoinvestigation" class="form-control" />
                <span asp-validation-for="complaints_cvoinvestigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_signed_filed" class="control-label"></label>
                <input asp-for="complaints_signed_filed" class="form-control" />
                <span asp-validation-for="complaints_signed_filed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_signed_notconfirmed" class="control-label"></label>
                <input asp-for="complaints_signed_notconfirmed" class="form-control" />
                <span asp-validation-for="complaints_signed_notconfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complaints_actionfornovigilance" class="control-label"></label>
                <input asp-for="complaints_actionfornovigilance" class="form-control" />
                <span asp-validation-for="complaints_actionfornovigilance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_opening_balance" class="control-label"></label>
                <input asp-for="cvcpidpi_opening_balance" class="form-control" />
                <span asp-validation-for="cvcpidpi_opening_balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_receivequarter" class="control-label"></label>
                <input asp-for="cvcpidpi_receivequarter" class="form-control" />
                <span asp-validation-for="cvcpidpi_receivequarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_total" class="control-label"></label>
                <input asp-for="cvcpidpi_total" class="form-control" />
                <span asp-validation-for="cvcpidpi_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_report_quarter" class="control-label"></label>
                <input asp-for="cvcpidpi_report_quarter" class="form-control" />
                <span asp-validation-for="cvcpidpi_report_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_balance_pending" class="control-label"></label>
                <input asp-for="cvcpidpi_balance_pending" class="form-control" />
                <span asp-validation-for="cvcpidpi_balance_pending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_three_month" class="control-label"></label>
                <input asp-for="cvcpidpi_three_month" class="form-control" />
                <span asp-validation-for="cvcpidpi_three_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_three_to_six" class="control-label"></label>
                <input asp-for="cvcpidpi_three_to_six" class="form-control" />
                <span asp-validation-for="cvcpidpi_three_to_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_less_six" class="control-label"></label>
                <input asp-for="cvcpidpi_less_six" class="form-control" />
                <span asp-validation-for="cvcpidpi_less_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_opening_balance" class="control-label"></label>
                <input asp-for="otherpidpi_opening_balance" class="form-control" />
                <span asp-validation-for="otherpidpi_opening_balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_receivequarter" class="control-label"></label>
                <input asp-for="otherpidpi_receivequarter" class="form-control" />
                <span asp-validation-for="otherpidpi_receivequarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_total" class="control-label"></label>
                <input asp-for="otherpidpi_total" class="form-control" />
                <span asp-validation-for="otherpidpi_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_report_quarter" class="control-label"></label>
                <input asp-for="otherpidpi_report_quarter" class="form-control" />
                <span asp-validation-for="otherpidpi_report_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_balance_pending" class="control-label"></label>
                <input asp-for="otherpidpi_balance_pending" class="form-control" />
                <span asp-validation-for="otherpidpi_balance_pending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_three_month" class="control-label"></label>
                <input asp-for="otherpidpi_three_month" class="form-control" />
                <span asp-validation-for="otherpidpi_three_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_three_to_six" class="control-label"></label>
                <input asp-for="otherpidpi_three_to_six" class="form-control" />
                <span asp-validation-for="otherpidpi_three_to_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_less_six" class="control-label"></label>
                <input asp-for="otherpidpi_less_six" class="form-control" />
                <span asp-validation-for="otherpidpi_less_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpi_opening_balance" class="control-label"></label>
                <input asp-for="totalpidpi_opening_balance" class="form-control" />
                <span asp-validation-for="totalpidpi_opening_balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpi_receivequarter" class="control-label"></label>
                <input asp-for="totalpidpi_receivequarter" class="form-control" />
                <span asp-validation-for="totalpidpi_receivequarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpi_total" class="control-label"></label>
                <input asp-for="totalpidpi_total" class="form-control" />
                <span asp-validation-for="totalpidpi_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpi_report_quarter" class="control-label"></label>
                <input asp-for="totalpidpi_report_quarter" class="form-control" />
                <span asp-validation-for="totalpidpi_report_quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpi_balance_pending" class="control-label"></label>
                <input asp-for="totalpidpi_balance_pending" class="form-control" />
                <span asp-validation-for="totalpidpi_balance_pending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="toatlpidpi_three_month" class="control-label"></label>
                <input asp-for="toatlpidpi_three_month" class="form-control" />
                <span asp-validation-for="toatlpidpi_three_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="toatlpidpi_three_to_six" class="control-label"></label>
                <input asp-for="toatlpidpi_three_to_six" class="form-control" />
                <span asp-validation-for="toatlpidpi_three_to_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpi_less_six" class="control-label"></label>
                <input asp-for="totalpidpi_less_six" class="form-control" />
                <span asp-validation-for="totalpidpi_less_six" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvestadvicecvc" class="control-label"></label>
                <input asp-for="cvcpidpiinvestadvicecvc" class="form-control" />
                <span asp-validation-for="cvcpidpiinvestadvicecvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesquarterreportbycvo" class="control-label"></label>
                <input asp-for="cvcpidpiinvesquarterreportbycvo" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesquarterreportbycvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesquarteradvicereceive" class="control-label"></label>
                <input asp-for="cvcpidpiinvesquarteradvicereceive" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesquarteradvicereceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvestotaladvicereceive" class="control-label"></label>
                <input asp-for="cvcpidpiinvestotaladvicereceive" class="form-control" />
                <span asp-validation-for="cvcpidpiinvestotaladvicereceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesactionduringquarter" class="control-label"></label>
                <input asp-for="cvcpidpiinvesactionduringquarter" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesactionduringquarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesbalancegreterthreemonth" class="control-label"></label>
                <input asp-for="cvcpidpiinvesbalancegreterthreemonth" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesbalancegreterthreemonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesbalancebetweenthreetosix" class="control-label"></label>
                <input asp-for="cvcpidpiinvesbalancebetweenthreetosix" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesbalancebetweenthreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesbalancebetweensixtotwelve" class="control-label"></label>
                <input asp-for="cvcpidpiinvesbalancebetweensixtotwelve" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesbalancebetweensixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpiinvesbalancelesstwelve" class="control-label"></label>
                <input asp-for="cvcpidpiinvesbalancelesstwelve" class="form-control" />
                <span asp-validation-for="cvcpidpiinvesbalancelesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvestadvicecvc" class="control-label"></label>
                <input asp-for="cvopidpiinvestadvicecvc" class="form-control" />
                <span asp-validation-for="cvopidpiinvestadvicecvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesquarterreportbycvo" class="control-label"></label>
                <input asp-for="cvopidpiinvesquarterreportbycvo" class="form-control" />
                <span asp-validation-for="cvopidpiinvesquarterreportbycvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesquarteradvicereceive" class="control-label"></label>
                <input asp-for="cvopidpiinvesquarteradvicereceive" class="form-control" />
                <span asp-validation-for="cvopidpiinvesquarteradvicereceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvestotaladvicereceive" class="control-label"></label>
                <input asp-for="cvopidpiinvestotaladvicereceive" class="form-control" />
                <span asp-validation-for="cvopidpiinvestotaladvicereceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesactionduringquarter" class="control-label"></label>
                <input asp-for="cvopidpiinvesactionduringquarter" class="form-control" />
                <span asp-validation-for="cvopidpiinvesactionduringquarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesbalancegreterthreemonth" class="control-label"></label>
                <input asp-for="cvopidpiinvesbalancegreterthreemonth" class="form-control" />
                <span asp-validation-for="cvopidpiinvesbalancegreterthreemonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesbalancebetweenthreetosix" class="control-label"></label>
                <input asp-for="cvopidpiinvesbalancebetweenthreetosix" class="form-control" />
                <span asp-validation-for="cvopidpiinvesbalancebetweenthreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesbalancebetweensixtotwelve" class="control-label"></label>
                <input asp-for="cvopidpiinvesbalancebetweensixtotwelve" class="form-control" />
                <span asp-validation-for="cvopidpiinvesbalancebetweensixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvopidpiinvesbalancelesstwelve" class="control-label"></label>
                <input asp-for="cvopidpiinvesbalancelesstwelve" class="form-control" />
                <span asp-validation-for="cvopidpiinvesbalancelesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvestadvicecvc" class="control-label"></label>
                <input asp-for="totalpidpiinvestadvicecvc" class="form-control" />
                <span asp-validation-for="totalpidpiinvestadvicecvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesquarterreportbycvo" class="control-label"></label>
                <input asp-for="totalpidpiinvesquarterreportbycvo" class="form-control" />
                <span asp-validation-for="totalpidpiinvesquarterreportbycvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesquarteradvicereceive" class="control-label"></label>
                <input asp-for="totalpidpiinvesquarteradvicereceive" class="form-control" />
                <span asp-validation-for="totalpidpiinvesquarteradvicereceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvestotaladvicereceive" class="control-label"></label>
                <input asp-for="totalpidpiinvestotaladvicereceive" class="form-control" />
                <span asp-validation-for="totalpidpiinvestotaladvicereceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesactionduringquarter" class="control-label"></label>
                <input asp-for="totalpidpiinvesactionduringquarter" class="form-control" />
                <span asp-validation-for="totalpidpiinvesactionduringquarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesbalancegreterthreemonth" class="control-label"></label>
                <input asp-for="totalpidpiinvesbalancegreterthreemonth" class="form-control" />
                <span asp-validation-for="totalpidpiinvesbalancegreterthreemonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesbalancebetweenthreetosix" class="control-label"></label>
                <input asp-for="totalpidpiinvesbalancebetweenthreetosix" class="form-control" />
                <span asp-validation-for="totalpidpiinvesbalancebetweenthreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesbalancebetweensixtotwelve" class="control-label"></label>
                <input asp-for="totalpidpiinvesbalancebetweensixtotwelve" class="form-control" />
                <span asp-validation-for="totalpidpiinvesbalancebetweensixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalpidpiinvesbalancelesstwelve" class="control-label"></label>
                <input asp-for="totalpidpiinvesbalancelesstwelve" class="form-control" />
                <span asp-validation-for="totalpidpiinvesbalancelesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpibroughtforward" class="control-label"></label>
                <input asp-for="napidpibroughtforward" class="form-control" />
                <span asp-validation-for="napidpibroughtforward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpireceiveqtr" class="control-label"></label>
                <input asp-for="napidpireceiveqtr" class="form-control" />
                <span asp-validation-for="napidpireceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpitotal" class="control-label"></label>
                <input asp-for="napidpitotal" class="form-control" />
                <span asp-validation-for="napidpitotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpiclosedwithoutaction" class="control-label"></label>
                <input asp-for="napidpiclosedwithoutaction" class="form-control" />
                <span asp-validation-for="napidpiclosedwithoutaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpifurtherinvestigation" class="control-label"></label>
                <input asp-for="napidpifurtherinvestigation" class="form-control" />
                <span asp-validation-for="napidpifurtherinvestigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpiadminaction" class="control-label"></label>
                <input asp-for="napidpiadminaction" class="form-control" />
                <span asp-validation-for="napidpiadminaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpiimpositionpenalty" class="control-label"></label>
                <input asp-for="napidpiimpositionpenalty" class="form-control" />
                <span asp-validation-for="napidpiimpositionpenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpidisposedqtr" class="control-label"></label>
                <input asp-for="napidpidisposedqtr" class="form-control" />
                <span asp-validation-for="napidpidisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napidpipendingqtr" class="control-label"></label>
                <input asp-for="napidpipendingqtr" class="form-control" />
                <span asp-validation-for="napidpipendingqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportbfpreviousyear" class="control-label"></label>
                <input asp-for="scrutinyreportbfpreviousyear" class="form-control" />
                <span asp-validation-for="scrutinyreportbfpreviousyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportexaminedqtr" class="control-label"></label>
                <input asp-for="scrutinyreportexaminedqtr" class="form-control" />
                <span asp-validation-for="scrutinyreportexaminedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportidentifiedexami" class="control-label"></label>
                <input asp-for="scrutinyreportidentifiedexami" class="form-control" />
                <span asp-validation-for="scrutinyreportidentifiedexami" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportcompleteinvestigation" class="control-label"></label>
                <input asp-for="scrutinyreportcompleteinvestigation" class="form-control" />
                <span asp-validation-for="scrutinyreportcompleteinvestigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportpendinginvestigation" class="control-label"></label>
                <input asp-for="scrutinyreportpendinginvestigation" class="form-control" />
                <span asp-validation-for="scrutinyreportpendinginvestigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="create_date" class="control-label"></label>
                <input asp-for="create_date" class="form-control" />
                <span asp-validation-for="create_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update_date" class="control-label"></label>
                <input asp-for="update_date" class="form-control" />
                <span asp-validation-for="update_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="used_ip" class="control-label"></label>
                <input asp-for="used_ip" class="form-control" />
                <span asp-validation-for="used_ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update_user_id" class="control-label"></label>
                <input asp-for="update_user_id" class="form-control" />
                <span asp-validation-for="update_user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qpr_id" class="control-label"></label>
                <input asp-for="qpr_id" class="form-control" />
                <span asp-validation-for="qpr_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvcpidpi_delay_one_month" class="control-label"></label>
                <input asp-for="cvcpidpi_delay_one_month" class="form-control" />
                <span asp-validation-for="cvcpidpi_delay_one_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otherpidpi_delay_one_month" class="control-label"></label>
                <input asp-for="otherpidpi_delay_one_month" class="form-control" />
                <span asp-validation-for="otherpidpi_delay_one_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="toatlpidpi_delay_one_month" class="control-label"></label>
                <input asp-for="toatlpidpi_delay_one_month" class="form-control" />
                <span asp-validation-for="toatlpidpi_delay_one_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportbfpreviousyearconcurrent" class="control-label"></label>
                <input asp-for="scrutinyreportbfpreviousyearconcurrent" class="form-control" />
                <span asp-validation-for="scrutinyreportbfpreviousyearconcurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportexaminedqtrconcurrent" class="control-label"></label>
                <input asp-for="scrutinyreportexaminedqtrconcurrent" class="form-control" />
                <span asp-validation-for="scrutinyreportexaminedqtrconcurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportidentifiedexamiconcurrent" class="control-label"></label>
                <input asp-for="scrutinyreportidentifiedexamiconcurrent" class="form-control" />
                <span asp-validation-for="scrutinyreportidentifiedexamiconcurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportcompleteinvestigationconcurrent" class="control-label"></label>
                <input asp-for="scrutinyreportcompleteinvestigationconcurrent" class="form-control" />
                <span asp-validation-for="scrutinyreportcompleteinvestigationconcurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportpendinginvestigationconcurrent" class="control-label"></label>
                <input asp-for="scrutinyreportpendinginvestigationconcurrent" class="form-control" />
                <span asp-validation-for="scrutinyreportpendinginvestigationconcurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportbfpreviousyearinternal" class="control-label"></label>
                <input asp-for="scrutinyreportbfpreviousyearinternal" class="form-control" />
                <span asp-validation-for="scrutinyreportbfpreviousyearinternal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportexaminedqtrinternal" class="control-label"></label>
                <input asp-for="scrutinyreportexaminedqtrinternal" class="form-control" />
                <span asp-validation-for="scrutinyreportexaminedqtrinternal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportidentifiedexamiinternal" class="control-label"></label>
                <input asp-for="scrutinyreportidentifiedexamiinternal" class="form-control" />
                <span asp-validation-for="scrutinyreportidentifiedexamiinternal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportcompleteinvestigationinternal" class="control-label"></label>
                <input asp-for="scrutinyreportcompleteinvestigationinternal" class="form-control" />
                <span asp-validation-for="scrutinyreportcompleteinvestigationinternal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportpendinginvestigationinternal" class="control-label"></label>
                <input asp-for="scrutinyreportpendinginvestigationinternal" class="form-control" />
                <span asp-validation-for="scrutinyreportpendinginvestigationinternal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportbfpreviousyearstatutory" class="control-label"></label>
                <input asp-for="scrutinyreportbfpreviousyearstatutory" class="form-control" />
                <span asp-validation-for="scrutinyreportbfpreviousyearstatutory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportexaminedqtrstatutory" class="control-label"></label>
                <input asp-for="scrutinyreportexaminedqtrstatutory" class="form-control" />
                <span asp-validation-for="scrutinyreportexaminedqtrstatutory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportidentifiedexamistatutory" class="control-label"></label>
                <input asp-for="scrutinyreportidentifiedexamistatutory" class="form-control" />
                <span asp-validation-for="scrutinyreportidentifiedexamistatutory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportcompleteinvestigationstatutory" class="control-label"></label>
                <input asp-for="scrutinyreportcompleteinvestigationstatutory" class="form-control" />
                <span asp-validation-for="scrutinyreportcompleteinvestigationstatutory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportpendinginvestigationstatutory" class="control-label"></label>
                <input asp-for="scrutinyreportpendinginvestigationstatutory" class="form-control" />
                <span asp-validation-for="scrutinyreportpendinginvestigationstatutory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportbfpreviousyearothers" class="control-label"></label>
                <input asp-for="scrutinyreportbfpreviousyearothers" class="form-control" />
                <span asp-validation-for="scrutinyreportbfpreviousyearothers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportexaminedqtrothers" class="control-label"></label>
                <input asp-for="scrutinyreportexaminedqtrothers" class="form-control" />
                <span asp-validation-for="scrutinyreportexaminedqtrothers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportidentifiedexamiothers" class="control-label"></label>
                <input asp-for="scrutinyreportidentifiedexamiothers" class="form-control" />
                <span asp-validation-for="scrutinyreportidentifiedexamiothers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportcompleteinvestigationothers" class="control-label"></label>
                <input asp-for="scrutinyreportcompleteinvestigationothers" class="form-control" />
                <span asp-validation-for="scrutinyreportcompleteinvestigationothers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportpendinginvestigationothers" class="control-label"></label>
                <input asp-for="scrutinyreportpendinginvestigationothers" class="form-control" />
                <span asp-validation-for="scrutinyreportpendinginvestigationothers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportbfpreviousyeartotal" class="control-label"></label>
                <input asp-for="scrutinyreportbfpreviousyeartotal" class="form-control" />
                <span asp-validation-for="scrutinyreportbfpreviousyeartotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportexaminedqtrtotal" class="control-label"></label>
                <input asp-for="scrutinyreportexaminedqtrtotal" class="form-control" />
                <span asp-validation-for="scrutinyreportexaminedqtrtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportidentifiedexamitotal" class="control-label"></label>
                <input asp-for="scrutinyreportidentifiedexamitotal" class="form-control" />
                <span asp-validation-for="scrutinyreportidentifiedexamitotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportcompleteinvestigationtotal" class="control-label"></label>
                <input asp-for="scrutinyreportcompleteinvestigationtotal" class="form-control" />
                <span asp-validation-for="scrutinyreportcompleteinvestigationtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scrutinyreportpendinginvestigationtotal" class="control-label"></label>
                <input asp-for="scrutinyreportpendinginvestigationtotal" class="form-control" />
                <span asp-validation-for="scrutinyreportpendinginvestigationtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
