@model QPR_Application.Models.Entities.complaintsqrs

@{
    ViewData["Title"] = "Complaints";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
  /*   table td {
        padding: 0.25em !important;
        vertical-align: middle !important;
    } */
</style>


<div>
    <h3 class="text-center">Complaints</h3>
</div>
<hr />

<form asp-action="Complaints">
    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <th rowspan="2"><b>Source</b></th>
                    <th rowspan="2"><b>Opening Balance</b></th>
                    <th rowspan="2"><b>Received During the Quarter</b></th>
                    <th rowspan="2"><b>Total<br>4=(2+3)</b></th>
                    <th rowspan="2" style="width:22%;"><b>Disposal During The Quarter</b><br>(Filed/Sent for NA and Registered as Vigilance for Investigation by CVO)</th>
                    <th rowspan="2"><b>Balance Pending<br>6=(4-5)</b></th>
                    <th colspan="3"><b>Age Wise Pendency</b> (Months)<br><b>6=(7+8+9)</b></th>
                </tr>
                <tr class="text-center">
                    <th>
                        &lt;1
                    </th>

                    <th>
                        1-3
                    </th>
                    <th>
                        Over 3 months
                    </th>
                </tr>
                <tr class="text-center" style="background-color:rgb(217, 217, 217);">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>

                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;CVC<sup><span style="color: red; font-size:x-small; ">#</span></sup></b></td>
                    <td>
                        <b>
                            @* <input id="ComCVCOpeningBalance" name="ComCVCOpeningBalance" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="qty1 comcvc" readonly="readonly" value="0"> *@
                            <input type="number" asp-for="comcvcopeningbalance" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            @* <input id="ComCVCReceived_during_quarter" name="ComCVCReceived_during_quarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="qty1 comRec" value="0"> *@
                            <input type="number" asp-for="comcvcreceived_during_quarter" class="form-control" />
                        </b>
                    </td>

                    <td>
                        <b>
                            @* <input id="comCVCTotal" name="comCVCTotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="total comtotal subbptotal" value="0"> *@
                            <input asp-for="comcvctotal" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            @* <input id="comCVCDisposal_during_quarter" name="comCVCDisposal_during_quarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="comDis subbptotal disQTR" value="0"> *@
                            <input asp-for="comcvcdisposal_during_quarter" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            @* <input id="comCVCBalance_pending" name="comCVCBalance_pending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="comBalance totalsubbptotal" readonly="readonly" value="0"> *@
                            <input asp-for="comcvcbalance_pending" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            @* <input id="comCVCage_less_one" name="comCVCage_less_one" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="comGreaterOne bPTotalCVC" value="0"> *@
                            <input asp-for="comcvcage_less_one" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            @* <input id="comCVCage_pendency_betweenOne_Three" name="comCVCage_pendency_betweenOne_Three" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="comOnetoThree  bPTotalCVC" value="0"> *@
                            <input asp-for="comcvcage_pendency_betweenone_three" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            @* <input id="comCVCage_pendency_betweenThree_Six" name="comCVCage_pendency_betweenThree_Six" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="comThreetoSix  bPTotalCVCFinal" value="0"> *@
                            <input asp-for="comcvcage_pendency_betweenthree_six" class="form-control" />
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;OTHERs<sup><span style="color: red; font-size:x-small;">$</span></sup></b></td>
                    <td>
                        <b>
                            <input type="number" asp-for="comotheropeningbalance" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input type="number" asp-for="comotherreceived_during_quarter" class="form-control" />
                        </b>
                    </td>

                    <td>
                        <b>
                            <input asp-for="comothertotal" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comotherdisposal_during_quarter" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comotherbalance_pending" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comotherage_less_one" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comotherage_pendency_betweenone_three" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comotherage_pendency_betweenthree_six" class="form-control" />
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;TOTAL</b></td>
                    <td>
                        <b>
                            <input type="number" asp-for="comtotalopeningbalance" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input type="number" asp-for="comtotalreceived_during_quarter" class="form-control" />
                        </b>
                    </td>

                    <td>
                        <b>
                            <input asp-for="comtotal" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comtotaldisposal_during_quarter" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comtotalbalance_pending" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comtotalage_less_one" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comtotalage_pendency_betweenone_three" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="comtotalage_pendency_betweenthree_six" class="form-control" />
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="center w-70 mt-2">
        <p>
            <b>
                <sup><span style="color: red; font-size:x-small; ">$</span></sup> Exclude details of PIDPI (Whistle Blower) complaints which are to be provided in para 1.3 below<br>
                <sup><span style="color: red; font-size:x-small;">#</span></sup> Complaints received for <strong>necessary action</strong> from CVC only to be reflected<br>
                Pl note: Anonymous complaints received should not be included/reflected in Col. 3 above
            </b>
        </p>

    </div>
    <div class="w-80 mt-5 mb-3 box-green">
        <b>1.1	Break up of complaints received under source 'Others' during the quarter</b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle">

            <tbody>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(a) Signed Complaints recieved by CVO</b></td>
                    <td>
                        <b>
                            @* <input id="complaints_Signed_Complaints" name="complaints_Signed_Complaints" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="signedComplaints" value="0"> *@
                            <input asp-for="complaints_signed_complaints" class="form-control" />

                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(b) Complaints from Ministry / Department</b></td>
                    <td>
                        <b>
                            @* <input id="complaints_department" name="complaints_department" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="signedComplaints" value="0"> *@
                            <input asp-for="complaints_department" class="form-control" />
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(c) Complaints from CBI </b></td>
                    <td>
                        <b>
                            @* <input id="complaints_cbi" name="complaints_cbi" onkeypress="return isNumberKey(event);" style="padding:2px;" type="text" class="signedComplaints" value="0"> *@
                            <input asp-for="complaints_cbi" class="form-control" />
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(d) Complaints from Other Source </b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_other" class="form-control" />
                            @* <input id="complaints_other" name="complaints_other" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="signedComplaints" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(e) Detected through Audit (No. of para's turned into Vigilance para's) </b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_audit" class="form-control" />
                            @* <input id="complaints_audit" name="complaints_audit" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="signedComplaints" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(f) Detected through Inspection / Scrutiny of Contracts etc. </b></td>
                    <td>
                        <b>
                            @* <input id="complaints_detected" name="complaints_detected" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="signedComplaintsFinal" value="0"> *@
                            <input asp-for="complaints_detected" class="form-control" />
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green">
        <b>1.2	Break up of disposal of complaints during the quarter</b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle">

            <tbody>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(a) Sent to CBI for Investigation / appropriate action</b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_cbi_action" class="form-control" />
                            @* <input id="complaints_cbi_action" name="complaints_cbi_action" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="breakDisposal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(b) Taken up for detailed investigation by CVO</b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_cvoinvestigation" class="form-control" />
                            @* <input id="complaints_cvoInvestigation" name="complaints_cvoInvestigation" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="breakDisposal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(c) Signed complaints filed being non-specific / vague / general allegations </b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_signed_filed" class="form-control" />
                            @* <input id="complaints_signed_filed" name="complaints_signed_filed" onkeypress="return isNumberKey(event);" style=" padding:2px;" type="text" class="breakDisposal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(d) Signed complaints not confirmed by sender- Filed as Pseudonymous </b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_signed_notconfirmed" class="form-control" />
                            @* <input id="complaints_signed_notConfirmed" name="complaints_signed_notConfirmed" onkeypress="return isNumberKey(event);" style="20%;padding:2px;" type="text" class="breakDisposal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;(e) Passed on to administrative authorities for appropriate action having no vigilance angle / allegation of corruption</b></td>
                    <td>
                        <b>
                            <input asp-for="complaints_actionfornovigilance" class="form-control" />
                            @* <input id="complaints_actionforNoVigilance" name="complaints_actionforNoVigilance" onkeypress="return isNumberKey(event);" style="20%;padding:2px;" type="text" class="breakDisposalFinal" value="0"> *@
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="center w-70 mt-2">
        <p>NB: Aggregate of (a), (b), (c) (d)&amp; (e) of para 1.2 should tally with total figure under Col 5 of para 1</p>
    </div>

    <div class="w-80 mt-5 mb-3 box-green">
        <b>1.3 PIDPI* Complaints</b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <th rowspan="2"><b>Source</b></th>
                    <th rowspan="2"><b>Opening Balance</b></th>
                    <th rowspan="2"><b>Received During the Quarter</b></th>
                    <th rowspan="2"><b>Total</b><br><b>4=(2+3)</b></th>
                    <th rowspan="2" style="width:20%"><b>Reports submitted to CVC/CVO,Admin.Ministry During the quarter</b></th>
                    <th rowspan="2"><b>Balance Pending</b><br><b>6=(4-5)</b></th>
                    <th colspan="3"><b>Age wise Pendency for Investigation by CVO</b><br><b>6=(7+8+9)</b></th>
                    <th rowspan="2"><b>Reasons for delay beyond 3 months</b></th>
                </tr>
                <tr class="text-center">
                    <th>
                        Upto 3 month
                    </th>

                    <th>
                        3-6 months
                    </th>
                    <th>
                        &gt; 6 months
                    </th>

                </tr>
                <tr class="text-center" style="background-color:rgb(217, 217, 217);">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                    <td>&nbsp;<b>(10)</b></td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;CVC</b></td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_opening_balance" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_receivequarter" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_total" class="form-control" />
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_report_quarter" class="form-control" />
                            @* <input id="cvcpidpi_report_quarter" name="cvcpidpi_report_quarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" data-field="cvcfirst" class="pidpiReports balPenTotal disQTRPidpi" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_balance_pending" class="form-control" />
                            @* <input id="cvcpidpi_balance_pending" name="cvcpidpi_balance_pending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="totalbalPenTotal pidpiBalancePending" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_three_month" class="form-control" />
                            @* <input id="cvcpidpi_three_month" name="cvcpidpi_three_month" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpiUptoOne  bPTotalpidpiCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_three_to_six" class="form-control" />
                            @* <input id="cvcpidpi_three_to_six" name="cvcpidpi_three_to_six" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpiOnetoTwo  bPTotalpidpiCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_less_six" class="form-control" />
                            @* <input id="cvcpidpi_less_six" name="cvcpidpi_less_six" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpiGreaterTwo  bPTotalpidpiCVCFinal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpi_delay_one_month" class="form-control" />
                            @* <input class="form-control" id="cvcpidpi_delay_one_month" name="cvcpidpi_delay_one_month" type="text" value=""> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;Other &nbsp;Designated &nbsp;Authority</b></td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_opening_balance" class="form-control" />
                            @* <input id="otherpidpi_opening_balance" name="otherpidpi_opening_balance" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="pidpiBalance otherPidpi" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_receivequarter" class="form-control" />
                            @* <input id="otherpidpi_ReceiveQuarter" name="otherpidpi_ReceiveQuarter" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="pidpiRecived otherPidpi" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_total" class="form-control" />
                            @* <input id="otherpidpi_Total" name="otherpidpi_Total" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="totalotherPidpi pidpiTotal othBalPenTotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_report_quarter" class="form-control" />
                            @* <input id="otherpidpi_report_quarter" name="otherpidpi_report_quarter" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" data-field="cvcsecond" class="pidpiReports othBalPenTotal disQTRPidpiOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_balance_pending" class="form-control" />
                            @* <input id="otherpidpi_balance_pending" name="otherpidpi_balance_pending" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="totalothBalPenTotal pidpiBalancePending" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_three_month" class="form-control" />
                            @* <input id="otherpidpi_three_month" name="otherpidpi_three_month" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="pidpiUptoOne   bPTotalotherpidpi" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_three_to_six" class="form-control" />
                            @* <input id="otherpidpi_three_to_six" name="otherpidpi_three_to_six" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="pidpiOnetoTwo  bPTotalotherpidpi" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_less_six" class="form-control" />
                            @* <input id="otherpidpi_less_six" name="otherpidpi_less_six" onkeypress="return isNumberKey(event);" style="margin-top:18px;" type="text" class="pidpiGreaterTwo  bPTotalotherpidpiFinal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="otherpidpi_delay_one_month" class="form-control" />
                            @* <input class="form-control" id="otherpidpi_delay_one_month" name="otherpidpi_delay_one_month" type="text" value=""> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;TOTAL</b></td>
                    <td>
                        <b>
                            <input asp-for="totalpidpi_opening_balance" class="form-control" />
                            @* <input id="totalpidpi_opening_balance" name="totalpidpi_opening_balance" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiBalance" value="2"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpi_receivequarter" class="form-control" />
                            @* <input id="totalpidpi_ReceiveQuarter" name="totalpidpi_ReceiveQuarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiRecived" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpi_total" class="form-control" />
                            @* <input id="totalpidpi_Total" name="totalpidpi_Total" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpi_report_quarter" class="form-control" />
                            @* <input id="totalpidpi_report_quarter" name="totalpidpi_report_quarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiReports" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpi_balance_pending" class="form-control" />
                            @* <input id="totalpidpi_balance_pending" name="totalpidpi_balance_pending" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiBalancePending" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="toatlpidpi_three_month" class="form-control" />
                            @* <input id="toatlpidpi_three_month" name="toatlpidpi_three_month" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiUptoOne" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="toatlpidpi_three_to_six" class="form-control" />
                            @* <input id="toatlpidpi_three_to_six" name="toatlpidpi_three_to_six" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiOnetoTwo" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpi_less_six" class="form-control" />
                            @* <input id="totalpidpi_less_six" name="totalpidpi_less_six" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalpidpiGreaterTwo" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="toatlpidpi_delay_one_month" class="form-control" />
                            @* <input class="form-control" id="toatlpidpi_delay_one_month" name="toatlpidpi_delay_one_month" type="text" value=""> *@
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green">
        <b>1.4 Advice and Action taken on PIDPI investigation reports</b>
    </div>


    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                @* <tr></tr> *@
                <tr class="text-center">
                    <th rowspan="2"><b>Agency</b></th>
                    <th rowspan="2"><b>Advice of CVC / Designated Agency received till end of previous quarter  </b></th>
                    <th rowspan="2"><b>Reports sent during the quarter by CVO<span style="color: red;">*</span> (Col.5 of para 1.3 above)</b></th>
                    <th rowspan="2"><b>Reports in which Advice received during the quarter</b></th>
                    <th rowspan="2"><b>Total Advice received</b><br><b>5=(2+4)</b></th>
                    <th rowspan="2"><b>Action Taken during the quarter</b></th>
                    <th colspan="4"><b>Balance Pending for Action by Management/Organization</b><br><b>(5-6)=(7+8+9+10)</b></th>

                </tr>
                <tr class="text-center">
                    <th>
                        &lt;3 months
                    </th>

                    <th>
                        3-6 months
                    </th>
                    <th>
                        6-12 months
                    </th>
                    <th>
                        &gt;12 months
                    </th>

                </tr>

                <tr class="text-center" style="background-color:rgb(217, 217, 217) ">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                    <td>&nbsp;<b>(10)</b></td>
                </tr>
                <tr>
                    <td style=" text-align: left;"> <b>&nbsp;&nbsp;CVC</b> </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvestadvicecvc" class="form-control" />
                            @* <input id="cvcPIDPIInvestAdviceCVC" name="cvcPIDPIInvestAdviceCVC" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="adviceCVC  adviceReportCVC" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvesquarterreportbycvo" class="form-control" />
                            @* <input id="reporSendtQtr1" name="cvcPIDPIInvesQuarterReportbyCVO" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="reporSendtQtr" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvesquarteradvicereceive" class="form-control" />
                            @* <input id="cvcPIDPIInvesQuarterAdviceReceive" name="cvcPIDPIInvesQuarterAdviceReceive" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="reportsReceiveQtr  adviceReportCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvestotaladvicereceive" class="form-control" />
                            @* <input id="cvcPIDPIInvesTotalAdviceReceive" name="cvcPIDPIInvesTotalAdviceReceive" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="adviceTotal  totaladviceReportCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvesactionduringquarter" class="form-control" />
                            @* <input id="cvcPIDPIInvesActionduringQuarter" name="cvcPIDPIInvesActionduringQuarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="actionTakenQtr actionTakenQtrLessThanTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvesbalancegreterthreemonth" class="form-control" />
                            @* <input id="cvcPIDPIInvesBalanceGreterThreeMonth" name="cvcPIDPIInvesBalanceGreterThreeMonth" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="greaterThree pendingTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvesbalancebetweenthreetosix" class="form-control" />
                            @* <input id="cvcPIDPIInvesBalanceBetweenThreetoSix" name="cvcPIDPIInvesBalanceBetweenThreetoSix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="threetoSix pendingTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvcpidpiinvesbalancebetweensixtotwelve" class="form-control" />
                            @* <input id="cvcPIDPIInvesBalanceBetweenSixtoTwelve" name="cvcPIDPIInvesBalanceBetweenSixtoTwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="sixtoTwelve pendingTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input type="number" asp-for="cvcpidpiinvesbalancelesstwelve" class="form-control" />
                            @* <input id="cvcPIDPIInvesBalancelessTwelve" name="cvcPIDPIInvesBalancelessTwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="lessTwelve pendingTotalFinal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;CVO,Admin.Ministry</b></td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvestadvicecvc" class="form-control" />
                            @* <input id="cvoPIDPIInvestAdviceCVC" name="cvoPIDPIInvestAdviceCVC" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="adviceCVC  adviceReportCVO" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesquarterreportbycvo" class="form-control" />
                            @* <input id="reporSendtQtr2" name="cvoPIDPIInvesQuarterReportbyCVO" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="reporSendtQtr" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesquarteradvicereceive" class="form-control" />
                            @* <input id="cvoPIDPIInvesQuarterAdviceReceive" name="cvoPIDPIInvesQuarterAdviceReceive" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="reportsReceiveQtr adviceReportCVO" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvestotaladvicereceive" class="form-control" />
                            @* <input id="cvoPIDPIInvesTotalAdviceReceive" name="cvoPIDPIInvesTotalAdviceReceive" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="adviceTotal  totaladviceReportCVO" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesactionduringquarter" class="form-control" />
                            @* <input id="cvoPIDPIInvesActionduringQuarter" name="cvoPIDPIInvesActionduringQuarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="actionTakenQtr actionTakenQtrLessThanTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesbalancegreterthreemonth" class="form-control" />
                            @* <input id="cvoPIDPIInvesBalanceGreterThreeMonth" name="cvoPIDPIInvesBalanceGreterThreeMonth" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="greaterThree pendingTotalOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesbalancebetweenthreetosix" class="form-control" />
                            @* <input id="cvoPIDPIInvesBalanceBetweenThreetoSix" name="cvoPIDPIInvesBalanceBetweenThreetoSix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="threetoSix pendingTotalOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesbalancebetweensixtotwelve" class="form-control" />
                            @* <input id="cvoPIDPIInvesBalanceBetweenSixtoTwelve" name="cvoPIDPIInvesBalanceBetweenSixtoTwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="sixtoTwelve pendingTotalOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="cvopidpiinvesbalancelesstwelve" class="form-control" />
                            @* <input id="cvoPIDPIInvesBalancelessTwelve" name="cvoPIDPIInvesBalancelessTwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="lessTwelve pendingTotalOtherFinal" value="0"> *@
                        </b>
                    </td>
                </tr>

                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;TOTAL</b></td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvestadvicecvc" class="form-control" />
                            @* <input id="totalPIDPIInvestAdviceCVC" name="totalPIDPIInvestAdviceCVC" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="adviceCVC  adviceReporttotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesquarterreportbycvo" class="form-control" />
                            @* <input id="reporSendtQtr2" name="totalPIDPIInvesQuarterReportbytotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="reporSendtQtr" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesquarteradvicereceive" class="form-control" />
                            @* <input id="totalPIDPIInvesQuarterAdviceReceive" name="totalPIDPIInvesQuarterAdviceReceive" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="reportsReceiveQtr adviceReporttotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvestotaladvicereceive" class="form-control" />
                            @* <input id="totalPIDPIInvesTotalAdviceReceive" name="totalPIDPIInvesTotalAdviceReceive" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="adviceTotal  totaladviceReporttotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesactionduringquarter" class="form-control" />
                            @* <input id="totalPIDPIInvesActionduringQuarter" name="totalPIDPIInvesActionduringQuarter" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="actionTakenQtr actionTakenQtrLessThanTotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesbalancegreterthreemonth" class="form-control" />
                            @* <input id="totalPIDPIInvesBalanceGreterThreeMonth" name="totalPIDPIInvesBalanceGreterThreeMonth" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="greaterThree pendingTotalOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesbalancebetweenthreetosix" class="form-control" />
                            @* <input id="totalPIDPIInvesBalanceBetweenThreetoSix" name="totalPIDPIInvesBalanceBetweenThreetoSix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="threetoSix pendingTotalOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesbalancebetweensixtotwelve" class="form-control" />
                            @* <input id="totalPIDPIInvesBalanceBetweenSixtoTwelve" name="totalPIDPIInvesBalanceBetweenSixtoTwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="sixtoTwelve pendingTotalOther" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="totalpidpiinvesbalancelesstwelve" class="form-control" />
                            @* <input id="totalPIDPIInvesBalancelessTwelve" name="totalPIDPIInvesBalancelessTwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="lessTwelve pendingTotalOtherFinal" value="0"> *@
                        </b>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green">
        <b>1.5 Action taken report on complaints sent by CVC for 'Necessary Action' under PIDPI Resolution:</b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">

            <tbody>
                <tr class="text-center">
                    <th><b>Brought forward</b></th>
                    <th><b>Received during the quarter</b></th>
                    <th><b>Total</b><br><b>3=(1+2)</b></th>
                    <th style="width:20%"><b>Filed / closed without taking any action</b></th>
                    <th><b>Taken up for further investigation</b></th>
                    <th><b>Complaints resulting in administrative action</b></th>
                    <th><b>Complaints resulting in imposition of major / minor penalty</b></th>
                    <th><b>Total complaints disposed of during the quarter</b><br><b>8=(4+6+7)</b></th>
                    <th><b>Pending at the end of the quarter</b><br><b>9=(3-8)</b></th>
                </tr>
                <tr class="text-center" style="background-color:rgb(217, 217, 217) ">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                </tr>
                <tr>
                    <td>
                        <b>
                            <input asp-for="napidpibroughtforward" class="form-control" />
                            @* <input id="naPIDPIBroughtforward" name="naPIDPIBroughtforward" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpi-forward-received" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpireceiveqtr" class="form-control" />
                            @* <input id="naPIDPIReceiveQtr" name="naPIDPIReceiveQtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpi-forward-received" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpitotal" class="form-control" />
                            @* <input id="naPIDPITotal" name="naPIDPITotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="pidpi-for-rec-ttl" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpiclosedwithoutaction" class="form-control" />
                            @* <input id="naPIDPIClosedwithoutAction" name="naPIDPIClosedwithoutAction" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpi-complaints" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpifurtherinvestigation" class="form-control" />
                            @* <input id="naPIDPIFurtherInvestigation" name="naPIDPIFurtherInvestigation" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpi-pend" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpiadminaction" class="form-control" />
                            @* <input id="naPIDPIAdminAction" name="naPIDPIAdminAction" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpi-complaints" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpiimpositionpenalty" class="form-control" />
                            @* <input id="naPIDPIImpositionPenalty" name="naPIDPIImpositionPenalty" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="pidpi-complaints" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpidisposedqtr" class="form-control" />
                            @* <input id="naPIDPIDisposedQtr" name="naPIDPIDisposedQtr" onkeypress="return isNumberKey(event);" readonly="true" style="padding: 2px;" type="text" class="pidpi-complaints-quaterly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="napidpipendingqtr" class="form-control" />
                            @* <input id="naPIDPIPendingQtr" name="naPIDPIPendingQtr" onkeypress="return isNumberKey(event);" readonly="true" style="padding: 2px;" type="text" class="pidpi-pending-ttl" value="0"> *@
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green" style=" ">
        <b>1.6 Scrutiny of audit reports</b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">

            <tbody>
                <tr class="text-center">
                    <th><b>Type of Audit</b></th>
                    <th><b>Para's B/F from previous years</b></th>
                    <th><b>No. of reports examined during the quarter</b></th>
                    <th style="width:20%"><b>No. of para in which vigilance angle observed and identified for examination<sup><span style="color: red;">*</span></sup></b></th>
                    <th><b>No. of para's in which  investigation completed</b></th>
                    <th><b>No. of para's pending for investigation<br>6=(2+4)-5</b></th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;CAG</b></td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportbfpreviousyear" class="form-control" />
                            @* <input id="scrutinyReportbfPreviousYear" name="scrutinyReportbfPreviousYear" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAudit bfPreviousYear" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportexaminedqtr" class="form-control" />
                            @* <input id="scrutinyReportExaminedQtr" name="scrutinyReportExaminedQtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAudit ExaminedQtr" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportidentifiedexami" class="form-control" />
                            @* <input id="scrutinyReportIdentifiedExami" name="scrutinyReportIdentifiedExami" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAudit IdentifiedExami" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportcompleteinvestigation" class="form-control" />
                            @* <input id="scrutinyReportCompleteInvestigation" name="scrutinyReportCompleteInvestigation" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAudit CompleteInvestigation" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportpendinginvestigation" class="form-control" />
                            @* <input id="scrutinyReportPendingInvestigation" name="scrutinyReportPendingInvestigation" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAudit PendingInvestigation" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;Concurrent</b></td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportbfpreviousyearconcurrent" class="form-control" />
                            @* <input id="scrutinyReportbfPreviousYearConcurrent" name="scrutinyReportbfPreviousYearConcurrent" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditConcurrent bfPreviousYear" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportexaminedqtrconcurrent" class="form-control" />
                            @* <input id="scrutinyReportExaminedQtrConcurrent" name="scrutinyReportExaminedQtrConcurrent" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditConcurrent ExaminedQtr" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportidentifiedexamiconcurrent" class="form-control" />
                            @* <input id="scrutinyReportIdentifiedExamiConcurrent" name="scrutinyReportIdentifiedExamiConcurrent" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditConcurrent IdentifiedExami" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportcompleteinvestigationconcurrent" class="form-control" />
                            @* <input id="scrutinyReportCompleteInvestigationConcurrent" name="scrutinyReportCompleteInvestigationConcurrent" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditConcurrent CompleteInvestigation" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportpendinginvestigationconcurrent" class="form-control" />
                            @* <input id="scrutinyReportPendingInvestigationConcurrent" name="scrutinyReportPendingInvestigationConcurrent" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditConcurrent PendingInvestigation" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;Internal</b></td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportbfpreviousyearinternal" class="form-control" />
                            @* <input id="scrutinyReportbfPreviousYearInternal" name="scrutinyReportbfPreviousYearInternal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditInternal bfPreviousYear" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportexaminedqtrinternal" class="form-control" />
                            @* <input id="scrutinyReportExaminedQtrInternal" name="scrutinyReportExaminedQtrInternal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditInternal ExaminedQtr" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportidentifiedexamiinternal" class="form-control" />
                            @* <input id="scrutinyReportIdentifiedExamiInternal" name="scrutinyReportIdentifiedExamiInternal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditInternal IdentifiedExami" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportcompleteinvestigationinternal" class="form-control" />
                            @* <input id="scrutinyReportCompleteInvestigationInternal" name="scrutinyReportCompleteInvestigationInternal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditInternal CompleteInvestigation" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportpendinginvestigationinternal" class="form-control" />
                            @* <input id="scrutinyReportPendingInvestigationInternal" name="scrutinyReportPendingInvestigationInternal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditInternal PendingInvestigation" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;Statutory</b></td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportbfpreviousyearstatutory" class="form-control" />
                            @* <input id="scrutinyReportbfPreviousYearStatutory" name="scrutinyReportbfPreviousYearStatutory" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditStatutory bfPreviousYear" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportexaminedqtrstatutory" class="form-control" />
                            @* <input id="scrutinyReportExaminedQtrStatutory" name="scrutinyReportExaminedQtrStatutory" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditStatutory ExaminedQtr" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportidentifiedexamistatutory" class="form-control" />
                            @* <input id="scrutinyReportIdentifiedExamiStatutory" name="scrutinyReportIdentifiedExamiStatutory" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditStatutory IdentifiedExami" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportcompleteinvestigationstatutory" class="form-control" />
                            @* <input id="scrutinyReportCompleteInvestigationStatutory" name="scrutinyReportCompleteInvestigationStatutory" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditStatutory CompleteInvestigation" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportpendinginvestigationstatutory" class="form-control" />
                            @* <input id="scrutinyReportPendingInvestigationStatutory" name="scrutinyReportPendingInvestigationStatutory" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditStatutory PendingInvestigation" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;Others</b></td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportbfpreviousyearothers" class="form-control" />
                            @* <input id="scrutinyReportbfPreviousYearOthers" name="scrutinyReportbfPreviousYearOthers" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditOthers bfPreviousYear" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportexaminedqtrothers" class="form-control" />
                            @* <input id="scrutinyReportExaminedQtrOthers" name="scrutinyReportExaminedQtrOthers" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditOthers ExaminedQtr" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportidentifiedexamiothers" class="form-control" />
                            @* <input id="scrutinyReportIdentifiedExamiOthers" name="scrutinyReportIdentifiedExamiOthers" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditOthers IdentifiedExami" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportcompleteinvestigationothers" class="form-control" />
                            @* <input id="scrutinyReportCompleteInvestigationOthers" name="scrutinyReportCompleteInvestigationOthers" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditOthers CompleteInvestigation" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportpendinginvestigationothers" class="form-control" />
                            @* <input id="scrutinyReportPendingInvestigationOthers" name="scrutinyReportPendingInvestigationOthers" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ScruAuditOthers PendingInvestigation" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: left;"><b>&nbsp;&nbsp;Total</b></td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportbfpreviousyeartotal" class="form-control" />
                            @* <input id="scrutinyReportbfPreviousYearTotal" name="scrutinyReportbfPreviousYearTotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="bfPreviousYearTotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportexaminedqtrtotal" class="form-control" />
                            @* <input id="scrutinyReportExaminedQtrTotal" name="scrutinyReportExaminedQtrTotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="ExaminedQtrTotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportidentifiedexamitotal" class="form-control" />
                            @* <input id="scrutinyReportIdentifiedExamiTotal" name="scrutinyReportIdentifiedExamiTotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="IdentifiedExamiTotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportcompleteinvestigationtotal" class="form-control" />
                            @* <input id="scrutinyReportCompleteInvestigationTotal" name="scrutinyReportCompleteInvestigationTotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="CompleteInvestigationTotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="scrutinyreportpendinginvestigationtotal" class="form-control" />
                            @* <input id="scrutinyReportPendingInvestigationTotal" name="scrutinyReportPendingInvestigationTotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="PendingInvestigationTotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-25 m-auto">
        @if (ViewBag.ComplaintsMessage != null)
        {
            @ViewBag.ComplaintsMessage
        }
    </div>

    <div class="d-flex justify-content-between w-80 m-auto mt-5">
        <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
        <input type="submit" class="btn btn-outline-success" asp-action="SaveComplaints" />
        <input type="submit" value="Next" class="btn btn-primary " />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
