
@{
    ViewData["Title"] = "Instructions";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <h3 class="text-center">Instructions</h3>
</div>
<hr />
<div class="w-80 mt-5 mb-3 box-green">
    <b>Advisory for filling up paras' 2.5, 3.1 (A) and 7(D)</b>
</div>
<div class="w-80 mt-2 mb-3 box-green p-4">
    <b>Explanation: Banks, PSUs, Insurance Companies, FIs etc. may provide figures of equivalent ranks in their own organisations as per the scheme tabulated below in lieu of Group 'A', 'B' and 'C'</b>
</div>

<div class="w-75 m-auto mb-5">
	<table class="table table-striped table-bordered table-blue table-padding">
		<tbody>
			<tr class="text-center">
				<th><b>Category</b></th>
				<th><b>Banks</b></th>
				<th><b>PSUs</b></th>
				<th><b>LIC</b></th>
				<th><b>GIC</b></th>
				<th><b>RBI / NABARD / SIDBI</b></th>
				<th><b>OTHERS</b></th>

			</tr>

			<tr class="text-center tr-grey">
				<td>&nbsp;<b>1</b></td>
				<td>&nbsp;<b>2</b></td>
				<td>&nbsp;<b>3</b></td>
				<td>&nbsp;<b>4</b></td>
				<td>&nbsp;<b>5</b></td>
				<td>&nbsp;<b>6</b></td>
				<td>&nbsp;<b>7</b></td>
			</tr>
			<tr>
				<td> <b>(1) Group C</b> </td>
				<td> <b>Below Scale-III</b> </td>
				<td colspan="5" rowspan="2" class="bg-light"> <b>May give the break-up as per their prevalent scale* (All officials below Gr. 'B' have been placed in   Gr. 'C' including sub-staffs/class-IV)</b> </td>


			</tr>
			<tr>
				<td> <b>(2) Group B</b> </td>
				<td> <b>Scale-III &amp; IV</b> </td>


			</tr>
			<tr>
				<td><b>(3) Group Aupto DS/Dir level</b> </td>
				<td><b>Scale-V and above </b> </td>
				<td><b>Officers of E-8  for Sch. A &amp;. 'B' &amp; E7 in 'C' and 'D')levels and uptoE -9 level</b> </td>
				<td> <b>Sr.DMs and upto General Mgrs</b> </td>
				<td> <b>Managers and upto General Mgrs</b> </td>
				<td> <b>Grade 'D' Officers and upto Executive Directors </b> </td>
				<td> <b>Officials in pre-revised scale of Rs. 8700 &amp;above levels*</b></td>
			</tr>
			<tr>
				<td> <b>(4)JS and above</b> </td>
				<td> <b>Board level /WTDs appointees  </b> </td>
				<td> <b>Board level appointees  </b> </td>
				<td> <b>Board level appointees  </b> </td>
				<td> <b>Board level appointees  </b> </td>
				<td> <b>Board level appointees  </b> </td>
				<td> <b>CMD/Head of organisations</b> </td>
			</tr>

		</tbody>
	</table>
</div>

<div>
	<center>
		<div>
			<p><strong><sup>*(1) relates to Junior Management</sup></strong></p>
			<p><strong> (2) relates to Middle Management</strong></p>
			<p><strong> (3) relates to Senior Management</strong></p>
			<p><strong>(4) relates to Support &amp;Auxiliary Staff</strong></p>
			<p><strong><sup>*where the scale of pay is on Central Government pattern, the officials in the Grade Pay of Rs. 6600/- and above may be adopted. Further revision would be intimated</sup></strong></p>
		</div>
	</center>
</div>



