@model QPR_Application.Models.ViewModels.PreventiveVigilanceActivitiesViewModel

@{
    ViewData["Title"] = "PreventiveVigilanceActivities";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    input[type="file"] {
    }
</style>

<div class="text-center">
    <h3>Preventive Vigilance Activities</h3>
</div>
<hr />

<form asp-action="PreventiveVigilanceActivities" id="PreventiveVigilanceActivitiesQPRForm" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            9. Preventive Vigilance Activities in During the Quarter :(Upload Doc giving brief details)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <td><b>Eg:</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <b>&nbsp;&nbsp;(a) Simplification and standardization of rules inter-alia including in Procurement processes, recruitment and  <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; transfer policies, Standard Operating Procedures (SOP), Manuals etc</b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(b) Leveraging Technology and Automation inter-alia including in procurement,recruitment,service delivery,sales and <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; disposal etc</b></td>
                </tr>
                <tr class="d-flex-inline">
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(c) Business Process Re-engineering</b></td>
                    <td>
                        <b>
                            <input asp-for="FormFile" type="file" class="form-control">
                            @* <input asp-for="VigilanceActivities.vigilance_activites_upload_doc" hidden> *@
                        </b>
                    </td>
                    <td class="text-center">
                        <div id="fileUploadResult" class="text-center"></div>
                        <label id="NoUpload">Document Not Uploaded</label>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(d) Transparency Initiatives</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(e) Accountability Initiatives </b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(f) Control &amp; Supervision </b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(g) Training &amp; Awareness including awareness among client /vendors,public &nbsp;&nbsp;employees etc. </b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(h) Internal Whistle Blower Mechanism and its effectiveness in measurable terms </b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            10.
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;Remarks, if any</b></td>
                    <td><input asp-for="VigilanceActivities.vigilance_activites_any_remark" name="vigilance_activites_any_remark" class="form-control" type="text"></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;Place</b></td>
                    <td><input asp-for="VigilanceActivities.vigilance_activites_place" name="vigilance_activites_place" class="form-control" type="text"></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;Date</b></td>
                    <td align="left"><input asp-for="VigilanceActivities.vigilance_activites_date" class="form-control w-25" required type="date"></td>
                </tr>
            </tbody>
        </table>
    </div>
@* 
    <div class="w-25 m-auto text-center">

        @if (ViewBag.ComplaintsMessage != null)
        {
            @ViewBag.ComplaintsMessage
        }

    </div> *@

    <div class="d-flex justify-content-between w-80 m-auto mt-5">
        <a class="btn btn-secondary" asp-action="PreventiveVigilance">Back</a>
        <input type="submit" value="Submit" class="btn btn-primary " />
        <input type="submit" value="Save" class="btn btn-success" asp-action="SavePreventiveVigilanceActivities" />
    </div>


</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(function () {
        var complaintsMessage = '@ViewBag.ComplaintsMessage';

        var filePath = '@Model.VigilanceActivities.vigilance_activites_upload_doc';
        if (filePath != null && filePath != '') {
            $('#fileUploadResult').html('<a href="' + filePath + '" target="_blank">View Uploaded File</a>');
            $('#NoUpload').addClass('d-none');
        }

        if (complaintsMessage) {
            var notificationIcon;

            if (complaintsMessage == 'Saved' || complaintsMessage == 'Deleted successfully') {
                notificationIcon = 'success'
            }

            if (complaintsMessage.includes('Error')) {
                notificationIcon = 'error'
            }

            Swal.fire({
                // title: complaintsMessage,
                text: complaintsMessage,
                icon: notificationIcon,
                confirmButtonText: 'Okay'
            }).then((result) => {
                if (result.isConfirmed) {
                    pageReloadWithoutQueryString();
                } else {
                    // Optional: Handle cancel action
                }
            });
        }
        // performComTotal();
    });
</script>
