@model QPR_Application.Models.Entities.viginvestigationqrs

@{
    ViewData["Title"] = "VigilanceInvestigation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Vigilance Investigation</h3>
</div>
<hr />



<form asp-action="VigilanceInvestigation">
    <div class="w-80 mt-5 mb-3 box-green">
        <b>
            2.1 Complaints, Audit reports, Inspection reports of works / procurements etc.Taken up for investigation (nos)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>Agency</b></th>
                    <th rowspan="2"><b>Opening Balance </b></th>
                    <th rowspan="2"><b>Taken up for investigation during the quarter</b></th>
                    <th rowspan="2"><b>Total</b><br>4=(2+3)</th>
                    <th rowspan="2"><b>Reports received from IO</b></th>
                    <th rowspan="2"><b>Balance Pending</b><br>6=(4-5)</th>
                    <th colspan="4"><b>Age wise Pendency (Months) of Investigations</b><br>6=(7+8+9+10)</th>
                </tr>
                <tr class="text-center">
                    <th>
                        &lt;3
                    </th>
                    <th>
                        3-6
                    </th>
                    <th>
                        6-12
                    </th>
                    <th>
                        &gt;12
                    </th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                    <td>&nbsp;<b>(10)</b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;CVC<sup><span style="color: red;">*</span></sup></b> </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvcopeningbalance" class="form-control" />
                            <span asp-validation-for="viginvescvcopeningbalance" class="text-danger"></span>
                            @* <input id="viginvescvcopeningbalance" name="viginvescvcopeningbalance" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVCOpening CVCOpeningvi ivCVCtotal" readonly="readonly" value="3"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvctakeninvesqtr" class="form-control" />
                            <span asp-validation-for="viginvescvctakeninvesqtr" class="text-danger"></span>
                            @* <input id="viginvescvctakeninvesqtr" name="viginvescvctakeninvesqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVCOpening CVOOpeningvi ivCVCtotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvctotal" class="form-control" />
                            <span asp-validation-for="viginvescvctotal" class="text-danger"></span>
                            @* <input id="viginvescvctotal" name="viginvescvctotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviCVCOpening ivCVCtotal subviCVCtotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvcreportsrecivqtr" class="form-control" />
                            <span asp-validation-for="viginvescvcreportsrecivqtr" class="text-danger"></span>
                            @* <input id="viginvescvcreportsrecivqtr" name="viginvescvcreportsrecivqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVCReportsCBI CVCReportsCBIvi subviCVCtotal addviBalancePending" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvcbalancepending" class="form-control" />
                            <span asp-validation-for="viginvescvcbalancepending" class="text-danger"></span>
                            @* <input id="viginvescvcbalancepending" name="viginvescvcbalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVCBalancePending totalsubviCVCtotal addviBalancePending" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvcgreaterthree" class="form-control" />
                            <span asp-validation-for="viginvescvcgreaterthree" class="text-danger"></span>
                            @* <input id="viginvescvcgreaterthree" name="viginvescvcgreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viGreaterThree  cvcviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvcthreetosix" class="form-control" />
                            <span asp-validation-for="viginvescvcthreetosix" class="text-danger"></span>
                            @* <input id="viginvescvcthreetosix" name="viginvescvcthreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viThreetoSix  cvcviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvcsixtotwelve" class="form-control" />
                            <span asp-validation-for="viginvescvcsixtotwelve" class="text-danger"></span>
                            @* <input id="viginvescvcsixtotwelve" name="viginvescvcsixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viSixtoTwelve cvcviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvclesstwelve" class="form-control" />
                            <span asp-validation-for="viginvescvclesstwelve" class="text-danger"></span>
                            @* <input id="viginvescvclesstwelve" name="viginvescvclesstwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viLessTwelve  cvcviGreaterThreeFinal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;CVO <sup><span style="color: red;">**</span></sup></b></td>
                    <td>
                        <b>
                            <input asp-for="viginvescvoopeningbalance" class="form-control" />
                            <span asp-validation-for="viginvescvoopeningbalance" class="text-danger"></span>
                            @* <input id="viginvescvoopeningbalance" name="viginvescvoopeningbalance" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVOOpening CVCOpeningvi ivCVCtotal" readonly="readonly" value="43"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvotakeninvesqtr" class="form-control" />
                            <span asp-validation-for="viginvescvotakeninvesqtr" class="text-danger"></span>
                            @* <input id="viginvescvotakeninvesqtr" name="viginvescvotakeninvesqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVOOpening CVOOpeningvi ivCVCtotal" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvototal" class="form-control" />
                            <span asp-validation-for="viginvescvototal" class="text-danger"></span>
                            @* <input id="viginvescvototal" name="viginvescvototal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviCVOOpening ivCVCtotal subviCVOtotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvoreportsrecivqtr" class="form-control" />
                            <span asp-validation-for="viginvescvoreportsrecivqtr" class="text-danger"></span>
                            @* <input id="viginvescvoreportsrecivqtr" name="viginvescvoreportsrecivqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVOReportsCBI CVCReportsCBIvi subviCVOtotal addviBalancePending" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvobalancepending" class="form-control" />
                            <span asp-validation-for="viginvescvobalancepending" class="text-danger"></span>
                            @* <input id="viginvescvobalancepending" name="viginvescvobalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viCVOBalancePending totalsubviCVOtotal addviBalancePending" readonly="readonly" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvogreaterthree" class="form-control" />
                            <span asp-validation-for="viginvescvogreaterthree" class="text-danger"></span>
                            @* <input id="viginvescvogreaterthree" name="viginvescvogreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viGreaterThree cvoviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvothreetosix" class="form-control" />
                            <span asp-validation-for="viginvescvothreetosix" class="text-danger"></span>
                            @* <input id="viginvescvothreetosix" name="viginvescvothreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viThreetoSix  cvoviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvosixtotwelve" class="form-control" />
                            <span asp-validation-for="viginvescvosixtotwelve" class="text-danger"></span>
                            @* <input id="viginvescvosixtotwelve" name="viginvescvosixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viSixtoTwelve  cvoviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvescvolesstwelve" class="form-control" />
                            <span asp-validation-for="viginvescvolesstwelve" class="text-danger"></span>
                            @* <input id="viginvescvolesstwelve" name="viginvescvolesstwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viLessTwelve  cvoviGreaterThreeFinal" value="0"> *@
                        </b>
                    </td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;TOTAL</b></td>
                    <td>
                        <b>
                            <input asp-for="viginvestotalopeningbalance" class="form-control" />
                            <span asp-validation-for="viginvestotalopeningbalance" class="text-danger"></span>
                            @* <input id="viginvestotalopeningbalance" name="viginvestotalopeningbalance" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalCVCOpeningvi" value="46"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotaltakeninvesqtr" class="form-control" />
                            <span asp-validation-for="viginvestotaltakeninvesqtr" class="text-danger"></span>
                            @* <input id="viginvestotaltakeninvesqtr" name="viginvestotaltakeninvesqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalCVOOpeningvi" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotal" class="form-control" />
                            <span asp-validation-for="viginvestotal" class="text-danger"></span>
                            @* <input id="viginvestotal" name="viginvestotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalivCVCtotal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotalreportsrecivqtr" class="form-control" />
                            <span asp-validation-for="viginvestotalreportsrecivqtr" class="text-danger"></span>
                            @* <input id="viginvestotalreportsrecivqtr" name="viginvestotalreportsrecivqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="viTotalReportsCBI totalCVCReportsCBIvi" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotalbalancepending" class="form-control" />
                            <span asp-validation-for="viginvestotalbalancepending" class="text-danger"></span>
                            @* <input id="viginvestotalbalancepending" name="viginvestotalbalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="viTotalBalancePending totaladdviBalancePending" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotalgreaterthree" class="form-control" />
                            <span asp-validation-for="viginvestotalgreaterthree" class="text-danger"></span>
                            @* <input id="viginvestotalgreaterthree" name="viginvestotalgreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviGreaterThree" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotalthreetosix" class="form-control" />
                            <span asp-validation-for="viginvestotalthreetosix" class="text-danger"></span>
                            @* <input id="viginvestotalthreetosix" name="viginvestotalthreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviThreetoSix" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotalsixtotwelve" class="form-control" />
                            <span asp-validation-for="viginvestotalsixtotwelve" class="text-danger"></span>
                            @* <input id="viginvestotalsixtotwelve" name="viginvestotalsixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviSixtoTwelve" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvestotallesstwelve" class="form-control" />
                            <span asp-validation-for="viginvestotallesstwelve" class="text-danger"></span>
                            @* <input id="viginvestotallesstwelve" name="viginvestotallesstwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviLessTwelve" value="0"> *@
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green">
        <b>
            2.2 Vigilance investigation pending where officers under cvc jurisdiction are due for retirement in next one year (cases referrable to cvc)
        </b>
    </div>


    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <th rowspan="2"><b>Opening Balance</b></th>
                    <th rowspan="2"><b>Taken up for investigation during the quarter</b></th>
                    <th rowspan="2"><b>Total</b><br>3=(1+2)</th>
                    <th rowspan="2" style="width:20%"><b>Reports received from IO (other then Prosecution sanctions)</b></th>
                    <th rowspan="2"><b>Balance Pending</b><br>5=(3-4)</th>
                    <th colspan="3"><b>Age wise Pendency (Months) of Investigations</b><br>5=(6+7+8)</th>
                    <th rowspan="2"><b>Reasons for Pendency</b></th>
                </tr>
                <tr class="text-center">
                    <th>
                        &lt;3
                    </th>

                    <th>
                        3-6
                    </th>
                    <th>
                        6-12
                    </th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                </tr>
                <tr>
                    <td>
                        <b>
                            <input asp-for="viginvespendingopeningpending" class="form-control" />
                            <span asp-validation-for="viginvespendingopeningpending" class="text-danger"></span>
                            @* <input id="viginvespendingopeningpending" name="viginvespendingopeningpending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="addviPendingCVCcase" readonly="readonly" value="5"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendinginvestqtr" class="form-control" />
                            <span asp-validation-for="viginvespendinginvestqtr" class="text-danger"></span>
                            @* <input id="viginvespendinginvestqtr" name="viginvespendinginvestqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="addviPendingCVCcase" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendingtotal" class="form-control" />
                            <span asp-validation-for="viginvespendingtotal" class="text-danger"></span>
                            @* <input id="viginvespendingtotal" name="viginvespendingtotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totaladdviPendingCVCcase viPendingCaseCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendingreportio" class="form-control" />
                            <span asp-validation-for="viginvespendingreportio" class="text-danger"></span>
                            @* <input id="viginvespendingreportio" name="viginvespendingreportio" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viPendingCaseCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendingbalancepending" class="form-control" />
                            <span asp-validation-for="viginvespendingbalancepending" class="text-danger"></span>
                            @* <input id="viginvespendingbalancepending" name="viginvespendingbalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviPendingCaseCVC" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendinggreaterthree" class="form-control" />
                            <span asp-validation-for="viginvespendinggreaterthree" class="text-danger"></span>
                            @* <input id="viginvespendinggreaterthree" name="viginvespendinggreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vigilanceagePendingCase" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendingthreetosix" class="form-control" />
                            <span asp-validation-for="viginvespendingthreetosix" class="text-danger"></span>
                            @* <input id="viginvespendingthreetosix" name="viginvespendingthreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vigilanceagePendingCase" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendingsixtotwelve" class="form-control" />
                            <span asp-validation-for="viginvespendingsixtotwelve" class="text-danger"></span>
                            @* <input id="viginvespendingsixtotwelve" name="viginvespendingsixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vigilanceagePendingCaseFinal" value="0"> *@
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="viginvespendinglesstwelve" class="form-control" />
                            <span asp-validation-for="viginvespendinglesstwelve" class="text-danger"></span>
                            @* <input id="viginvespendinglesstwelve" name="viginvespendinglesstwelve" style="padding: 2px; width:250px;" type="text" value=""> *@
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green">
        <b>
            2.3 Action on Investigation Reports
        </b>
    </div>
    <div class="w-80 mt-2 mb-3 box-green">
        <b>
            2.3 (A) Category A Cases (Under CVC jurisdiction)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <th rowspan="2"><b>Agency</b></th>
                    <th rowspan="2"><b>Investigation report B/F from last Quarter</b></th>
                    <th rowspan="2"><b>Received During the Quarter</b></th>
                    <th rowspan="2"><b>Total</b><br>4=(2+3)</th>
                    <th rowspan="2" style="width:20%"><b>Disposed during the Quarter<sup><span style="color: red;">*</span></sup></b></th>
                    <th rowspan="2"><b>Balance Pending investigation Reports</b><br>6=(4-5)</th>
                    <th colspan="4"><b>Age wise Pendency (Months) of Investigation Reports(awaiting action)</b><br>6=(7+8+9+10)</th>
                </tr>
                <tr class="text-center">
                    <th>
                        &lt;3
                    </th>

                    <th>
                        3-6
                    </th>
                    <th>
                        6-12
                    </th>
                    <th>
                        &gt;12
                    </th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                    <td>&nbsp;<b>(10)</b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;CBI</b></td>
                    <td><b><input id="viginvestacbireportqtr" name="viginvestacbireportqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viActionInvestReport vicbiInvestReport viTotalcvc" readonly="readonly" value="0"></b></td>
                    <td><b><input id="viginvestacbireceiveqtr" name="viginvestacbireceiveqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viActionReceiveds vicbiInvestReport viTotalcvc" value="0"></b></td>
                    <td><b><input id="viginvestacbitotal" name="viginvestacbitotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="totalvicbiInvestReport viTotalcvc subviActionundercvc" readonly="readonly" value="0"></b></td>
                    <td><b><input id="viginvestacbidisposedqtr" name="viginvestacbidisposedqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viDisposedQtr subviActionundercvc addofficialsfalling" value="0"></b></td>
                    <td><b><input id="viginvestacbibalancepending" name="viginvestacbibalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="totalsubviActionundercvc addofficialsfalling" readonly="readonly" value="0"></b></td>
                    <td><b><input id="viginvestacbigreaterthree" name="viginvestacbigreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvcGraterThree pendingCBI" value="0"></b></td>
                    <td><b><input id="viginvestacbithreetosix" name="viginvestacbithreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvcThreetoSix pendingCBI" value="0"></b></td>
                    <td><b><input id="viginvestacbisixtotwelve" name="viginvestacbisixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvcSixtiTwelve pendingCBI" value="0"></b></td>
                    <td><b><input id="viginvestacbilesstwelve" name="viginvestacbilesstwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvclessTwelve pendingCBIFinal" value="0"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;CVO</b></td>
                    <td><b><input id="viginvestacvoreportqtr" name="viginvestacvoreportqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viActionInvestReport viCVOInvestReport viTotalcvc" readonly="readonly" value="58"></b></td>
                    <td><b><input id="viginvestacvoreceiveqtr" name="viginvestacvoreceiveqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viActionReceiveds viCVOInvestReport viTotalcvc" value="0"></b></td>
                    <td><b><input id="viginvestacvototal" name="viginvestacvototal" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="totalviCVOInvestReport viTotalcvc subviActionCVOCase" readonly="readonly" value="0"></b></td>
                    <td><b><input id="viginvestacvodisposedqtr" name="viginvestacvodisposedqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="viDisposedQtr subviActionCVOCase addofficialsfalling" value="0"></b></td>
                    <td><b><input id="viginvestacvobalancepending" name="viginvestacvobalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="totalsubviActionCVOCase addofficialsfalling" readonly="readonly" value="0"></b></td>
                    <td><b><input id="viginvestacvogreaterthree" name="viginvestacvogreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvcGraterThree pendingCVO" value="0"></b></td>
                    <td><b><input id="viginvestacvothreetosix" name="viginvestacvothreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvcThreetoSix pendingCVO" value="0"></b></td>
                    <td><b><input id="viginvestacvosixtotwelve" name="viginvestacvosixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvcSixtiTwelve pendingCVO" value="0"></b></td>
                    <td><b><input id="viginvestacvolesstwelve" name="viginvestacvolesstwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" type="text" class="vicvclessTwelve pendingCVOFinal" value="0"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>&nbsp;&nbsp;TOTAL</b></td>
                    <td><b><input id="viginvestatotalreportqtr" name="viginvestatotalreportqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviActionInvestReport" value="58"></b></td>
                    <td><b><input id="viginvestatotalreceiveqtr" name="viginvestatotalreceiveqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviActionReceiveds" value="0"></b></td>
                    <td><b><input id="viginvestatotal" name="viginvestatotal" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviTotalcvc" value="0"></b></td>
                    <td><b><input id="viginvestatotaldisposedqtr" name="viginvestatotaldisposedqtr" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalviDisposedQtr" value="0"></b></td>
                    <td><b><input id="viginvestatotalbalancepending" name="viginvestatotalbalancepending" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totaladdofficialsfalling" value="0"></b></td>
                    <td><b><input id="viginvestatotalgreaterthree" name="viginvestatotalgreaterthree" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalvicvcGraterThree" value="0"></b></td>
                    <td><b><input id="viginvestatotalthreetosix" name="viginvestatotalthreetosix" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalvicvcThreetoSix" value="0"></b></td>
                    <td><b><input id="viginvestatotalsixtotwelve" name="viginvestatotalsixtotwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalvicvcSixtiTwelve" value="0"></b></td>
                    <td><b><input id="viginvestatotallesstwelve" name="viginvestatotallesstwelve" onkeypress="return isNumberKey(event);" style="padding: 2px;" readonly="true" type="text" class="totalvicvclessTwelve" value="0"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="center w-70 mt-2">
        <p><sup><span style="color: red;">*</span></sup> Disposal Criteria - Final decision takenby DA after CVC advice and whencharge-sheet for major/minor RDA issued/final decision taken for administrative action or closure of case.</p>
        <!-- <p><strong>NB: Aggregate of (a), (b), (c) &amp; (d) in para 2.3 (B) &nbsp;should tally with total figure under Col 5 of para 2.3 (A)</strong></p> -->
    </div>
</form>
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="viginvespendingopeningpending" class="control-label"></label>
                <input asp-for="viginvespendingopeningpending" class="form-control" />
                <span asp-validation-for="viginvespendingopeningpending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvespendinginvestqtr" class="control-label"></label>
                <input asp-for="viginvespendinginvestqtr" class="form-control" />
                <span asp-validation-for="viginvespendinginvestqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvespendingtotal" class="control-label"></label>
                <input asp-for="viginvespendingtotal" class="form-control" />
                <span asp-validation-for="viginvespendingtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvespendingreportio" class="control-label"></label>
                <input asp-for="viginvespendingreportio" class="form-control" />
                <span asp-validation-for="viginvespendingreportio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvespendingbalancepending" class="control-label"></label>

            </div>
            <div class="form-group">
                <label asp-for="viginvespendinggreaterthree" class="control-label"></label>

            </div>
            <div class="form-group">
                <label asp-for="viginvespendingthreetosix" class="control-label"></label>
                <input asp-for="viginvespendingthreetosix" class="form-control" />
                <span asp-validation-for="viginvespendingthreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvespendingsixtotwelve" class="control-label"></label>

            </div>
            <div class="form-group">
                <label asp-for="viginvestacbireceiveqtr" class="control-label"></label>
                <input asp-for="viginvestacbireceiveqtr" class="form-control" />
                <span asp-validation-for="viginvestacbireceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbitotal" class="control-label"></label>
                <input asp-for="viginvestacbitotal" class="form-control" />
                <span asp-validation-for="viginvestacbitotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbidisposedqtr" class="control-label"></label>
                <input asp-for="viginvestacbidisposedqtr" class="form-control" />
                <span asp-validation-for="viginvestacbidisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbibalancepending" class="control-label"></label>
                <input asp-for="viginvestacbibalancepending" class="form-control" />
                <span asp-validation-for="viginvestacbibalancepending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbigreaterthree" class="control-label"></label>
                <input asp-for="viginvestacbigreaterthree" class="form-control" />
                <span asp-validation-for="viginvestacbigreaterthree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbithreetosix" class="control-label"></label>
                <input asp-for="viginvestacbithreetosix" class="form-control" />
                <span asp-validation-for="viginvestacbithreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbisixtotwelve" class="control-label"></label>
                <input asp-for="viginvestacbisixtotwelve" class="form-control" />
                <span asp-validation-for="viginvestacbisixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacbilesstwelve" class="control-label"></label>
                <input asp-for="viginvestacbilesstwelve" class="form-control" />
                <span asp-validation-for="viginvestacbilesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvoreportqtr" class="control-label"></label>
                <input asp-for="viginvestacvoreportqtr" class="form-control" />
                <span asp-validation-for="viginvestacvoreportqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvoreceiveqtr" class="control-label"></label>
                <input asp-for="viginvestacvoreceiveqtr" class="form-control" />
                <span asp-validation-for="viginvestacvoreceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvototal" class="control-label"></label>
                <input asp-for="viginvestacvototal" class="form-control" />
                <span asp-validation-for="viginvestacvototal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvodisposedqtr" class="control-label"></label>
                <input asp-for="viginvestacvodisposedqtr" class="form-control" />
                <span asp-validation-for="viginvestacvodisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvobalancepending" class="control-label"></label>
                <input asp-for="viginvestacvobalancepending" class="form-control" />
                <span asp-validation-for="viginvestacvobalancepending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvogreaterthree" class="control-label"></label>
                <input asp-for="viginvestacvogreaterthree" class="form-control" />
                <span asp-validation-for="viginvestacvogreaterthree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvothreetosix" class="control-label"></label>
                <input asp-for="viginvestacvothreetosix" class="form-control" />
                <span asp-validation-for="viginvestacvothreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvosixtotwelve" class="control-label"></label>
                <input asp-for="viginvestacvosixtotwelve" class="form-control" />
                <span asp-validation-for="viginvestacvosixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestacvolesstwelve" class="control-label"></label>
                <input asp-for="viginvestacvolesstwelve" class="form-control" />
                <span asp-validation-for="viginvestacvolesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotalreportqtr" class="control-label"></label>
                <input asp-for="viginvestatotalreportqtr" class="form-control" />
                <span asp-validation-for="viginvestatotalreportqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotalreceiveqtr" class="control-label"></label>
                <input asp-for="viginvestatotalreceiveqtr" class="form-control" />
                <span asp-validation-for="viginvestatotalreceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotal" class="control-label"></label>
                <input asp-for="viginvestatotal" class="form-control" />
                <span asp-validation-for="viginvestatotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotaldisposedqtr" class="control-label"></label>
                <input asp-for="viginvestatotaldisposedqtr" class="form-control" />
                <span asp-validation-for="viginvestatotaldisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotalbalancepending" class="control-label"></label>
                <input asp-for="viginvestatotalbalancepending" class="form-control" />
                <span asp-validation-for="viginvestatotalbalancepending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotalgreaterthree" class="control-label"></label>
                <input asp-for="viginvestatotalgreaterthree" class="form-control" />
                <span asp-validation-for="viginvestatotalgreaterthree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotalthreetosix" class="control-label"></label>
                <input asp-for="viginvestatotalthreetosix" class="form-control" />
                <span asp-validation-for="viginvestatotalthreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotalsixtotwelve" class="control-label"></label>
                <input asp-for="viginvestatotalsixtotwelve" class="form-control" />
                <span asp-validation-for="viginvestatotalsixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestatotallesstwelve" class="control-label"></label>
                <input asp-for="viginvestatotallesstwelve" class="form-control" />
                <span asp-validation-for="viginvestatotallesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestardamajorpenalty" class="control-label"></label>
                <input asp-for="viginvestardamajorpenalty" class="form-control" />
                <span asp-validation-for="viginvestardamajorpenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestardaminorpenalty" class="control-label"></label>
                <input asp-for="viginvestardaminorpenalty" class="form-control" />
                <span asp-validation-for="viginvestardaminorpenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestadecisionadminaction" class="control-label"></label>
                <input asp-for="viginvestadecisionadminaction" class="form-control" />
                <span asp-validation-for="viginvestadecisionadminaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestadecisionclosurecase" class="control-label"></label>
                <input asp-for="viginvestadecisionclosurecase" class="form-control" />
                <span asp-validation-for="viginvestadecisionclosurecase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbireportbfqtr" class="control-label"></label>
                <input asp-for="viginvestbcbireportbfqtr" class="form-control" />
                <span asp-validation-for="viginvestbcbireportbfqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbireceiveqtr" class="control-label"></label>
                <input asp-for="viginvestbcbireceiveqtr" class="form-control" />
                <span asp-validation-for="viginvestbcbireceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbitotal" class="control-label"></label>
                <input asp-for="viginvestbcbitotal" class="form-control" />
                <span asp-validation-for="viginvestbcbitotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbisentdaaction" class="control-label"></label>
                <input asp-for="viginvestbcbisentdaaction" class="form-control" />
                <span asp-validation-for="viginvestbcbisentdaaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbidisposedqtr" class="control-label"></label>
                <input asp-for="viginvestbcbidisposedqtr" class="form-control" />
                <span asp-validation-for="viginvestbcbidisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbibalancepending" class="control-label"></label>
                <input asp-for="viginvestbcbibalancepending" class="form-control" />
                <span asp-validation-for="viginvestbcbibalancepending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbigreaterthree" class="control-label"></label>
                <input asp-for="viginvestbcbigreaterthree" class="form-control" />
                <span asp-validation-for="viginvestbcbigreaterthree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbithreetosix" class="control-label"></label>
                <input asp-for="viginvestbcbithreetosix" class="form-control" />
                <span asp-validation-for="viginvestbcbithreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbisixtotwelve" class="control-label"></label>
                <input asp-for="viginvestbcbisixtotwelve" class="form-control" />
                <span asp-validation-for="viginvestbcbisixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcbilesstwelve" class="control-label"></label>
                <input asp-for="viginvestbcbilesstwelve" class="form-control" />
                <span asp-validation-for="viginvestbcbilesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvoreportbfqtr" class="control-label"></label>
                <input asp-for="viginvestbcvoreportbfqtr" class="form-control" />
                <span asp-validation-for="viginvestbcvoreportbfqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvoreceiveqtr" class="control-label"></label>
                <input asp-for="viginvestbcvoreceiveqtr" class="form-control" />
                <span asp-validation-for="viginvestbcvoreceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvototal" class="control-label"></label>
                <input asp-for="viginvestbcvototal" class="form-control" />
                <span asp-validation-for="viginvestbcvototal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvosentdaaction" class="control-label"></label>
                <input asp-for="viginvestbcvosentdaaction" class="form-control" />
                <span asp-validation-for="viginvestbcvosentdaaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvodisposedqtr" class="control-label"></label>
                <input asp-for="viginvestbcvodisposedqtr" class="form-control" />
                <span asp-validation-for="viginvestbcvodisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvobalancepending" class="control-label"></label>
                <input asp-for="viginvestbcvobalancepending" class="form-control" />
                <span asp-validation-for="viginvestbcvobalancepending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvogreaterthree" class="control-label"></label>
                <input asp-for="viginvestbcvogreaterthree" class="form-control" />
                <span asp-validation-for="viginvestbcvogreaterthree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvothreetosix" class="control-label"></label>
                <input asp-for="viginvestbcvothreetosix" class="form-control" />
                <span asp-validation-for="viginvestbcvothreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvosixtotwelve" class="control-label"></label>
                <input asp-for="viginvestbcvosixtotwelve" class="form-control" />
                <span asp-validation-for="viginvestbcvosixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbcvolesstwelve" class="control-label"></label>
                <input asp-for="viginvestbcvolesstwelve" class="form-control" />
                <span asp-validation-for="viginvestbcvolesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalreportbfqtr" class="control-label"></label>
                <input asp-for="viginvestbtotalreportbfqtr" class="form-control" />
                <span asp-validation-for="viginvestbtotalreportbfqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalreceiveqtr" class="control-label"></label>
                <input asp-for="viginvestbtotalreceiveqtr" class="form-control" />
                <span asp-validation-for="viginvestbtotalreceiveqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotal" class="control-label"></label>
                <input asp-for="viginvestbtotal" class="form-control" />
                <span asp-validation-for="viginvestbtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalsentdaaction" class="control-label"></label>
                <input asp-for="viginvestbtotalsentdaaction" class="form-control" />
                <span asp-validation-for="viginvestbtotalsentdaaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotaldisposedqtr" class="control-label"></label>
                <input asp-for="viginvestbtotaldisposedqtr" class="form-control" />
                <span asp-validation-for="viginvestbtotaldisposedqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalbalancepending" class="control-label"></label>
                <input asp-for="viginvestbtotalbalancepending" class="form-control" />
                <span asp-validation-for="viginvestbtotalbalancepending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalgreaterthree" class="control-label"></label>
                <input asp-for="viginvestbtotalgreaterthree" class="form-control" />
                <span asp-validation-for="viginvestbtotalgreaterthree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalthreetosix" class="control-label"></label>
                <input asp-for="viginvestbtotalthreetosix" class="form-control" />
                <span asp-validation-for="viginvestbtotalthreetosix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotalsixtotwelve" class="control-label"></label>
                <input asp-for="viginvestbtotalsixtotwelve" class="form-control" />
                <span asp-validation-for="viginvestbtotalsixtotwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbtotallesstwelve" class="control-label"></label>
                <input asp-for="viginvestbtotallesstwelve" class="form-control" />
                <span asp-validation-for="viginvestbtotallesstwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbrdamajorpenalty" class="control-label"></label>
                <input asp-for="viginvestbrdamajorpenalty" class="form-control" />
                <span asp-validation-for="viginvestbrdamajorpenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbrdaminorpenalty" class="control-label"></label>
                <input asp-for="viginvestbrdaminorpenalty" class="form-control" />
                <span asp-validation-for="viginvestbrdaminorpenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbdecisionadminaction" class="control-label"></label>
                <input asp-for="viginvestbdecisionadminaction" class="form-control" />
                <span asp-validation-for="viginvestbdecisionadminaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestbdecisionclosurecase" class="control-label"></label>
                <input asp-for="viginvestbdecisionclosurecase" class="form-control" />
                <span asp-validation-for="viginvestbdecisionclosurecase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreportbycvoqtr" class="control-label"></label>
                <input asp-for="viginvestreportbycvoqtr" class="form-control" />
                <span asp-validation-for="viginvestreportbycvoqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestmajorpp" class="control-label"></label>
                <input asp-for="viginvestmajorpp" class="form-control" />
                <span asp-validation-for="viginvestmajorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestminorpp" class="control-label"></label>
                <input asp-for="viginvestminorpp" class="form-control" />
                <span asp-validation-for="viginvestminorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestotheradmnaction" class="control-label"></label>
                <input asp-for="viginvestotheradmnaction" class="form-control" />
                <span asp-validation-for="viginvestotheradmnaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestclosure" class="control-label"></label>
                <input asp-for="viginvestclosure" class="form-control" />
                <span asp-validation-for="viginvestclosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupcmajorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupcmajorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupcmajorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupcminorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupcminorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupcminorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupcotheraction" class="control-label"></label>
                <input asp-for="viginvestreskgroupcotheraction" class="form-control" />
                <span asp-validation-for="viginvestreskgroupcotheraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupcclosure" class="control-label"></label>
                <input asp-for="viginvestreskgroupcclosure" class="form-control" />
                <span asp-validation-for="viginvestreskgroupcclosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupctotal" class="control-label"></label>
                <input asp-for="viginvestreskgroupctotal" class="form-control" />
                <span asp-validation-for="viginvestreskgroupctotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupbmajorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupbmajorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupbmajorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupbminorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupbminorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupbminorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupbotheraction" class="control-label"></label>
                <input asp-for="viginvestreskgroupbotheraction" class="form-control" />
                <span asp-validation-for="viginvestreskgroupbotheraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupbclosure" class="control-label"></label>
                <input asp-for="viginvestreskgroupbclosure" class="form-control" />
                <span asp-validation-for="viginvestreskgroupbclosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupbtotal" class="control-label"></label>
                <input asp-for="viginvestreskgroupbtotal" class="form-control" />
                <span asp-validation-for="viginvestreskgroupbtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupamajorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupamajorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupamajorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupaminorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupaminorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupaminorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupaotheraction" class="control-label"></label>
                <input asp-for="viginvestreskgroupaotheraction" class="form-control" />
                <span asp-validation-for="viginvestreskgroupaotheraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupaclosure" class="control-label"></label>
                <input asp-for="viginvestreskgroupaclosure" class="form-control" />
                <span asp-validation-for="viginvestreskgroupaclosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupatotal" class="control-label"></label>
                <input asp-for="viginvestreskgroupatotal" class="form-control" />
                <span asp-validation-for="viginvestreskgroupatotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupjsmajorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupjsmajorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupjsmajorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupjsminorpp" class="control-label"></label>
                <input asp-for="viginvestreskgroupjsminorpp" class="form-control" />
                <span asp-validation-for="viginvestreskgroupjsminorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupjsotheraction" class="control-label"></label>
                <input asp-for="viginvestreskgroupjsotheraction" class="form-control" />
                <span asp-validation-for="viginvestreskgroupjsotheraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupjsclosure" class="control-label"></label>
                <input asp-for="viginvestreskgroupjsclosure" class="form-control" />
                <span asp-validation-for="viginvestreskgroupjsclosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestreskgroupjstotal" class="control-label"></label>
                <input asp-for="viginvestreskgroupjstotal" class="form-control" />
                <span asp-validation-for="viginvestreskgroupjstotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestresktotalmajorpp" class="control-label"></label>
                <input asp-for="viginvestresktotalmajorpp" class="form-control" />
                <span asp-validation-for="viginvestresktotalmajorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestresktotalminorpp" class="control-label"></label>
                <input asp-for="viginvestresktotalminorpp" class="form-control" />
                <span asp-validation-for="viginvestresktotalminorpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestresktotalotheraction" class="control-label"></label>
                <input asp-for="viginvestresktotalotheraction" class="form-control" />
                <span asp-validation-for="viginvestresktotalotheraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestresktotalclosure" class="control-label"></label>
                <input asp-for="viginvestresktotalclosure" class="form-control" />
                <span asp-validation-for="viginvestresktotalclosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvestresktotal" class="control-label"></label>
                <input asp-for="viginvestresktotal" class="form-control" />
                <span asp-validation-for="viginvestresktotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="create_date" class="control-label"></label>
                <input asp-for="create_date" class="form-control" />
                <span asp-validation-for="create_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update_date" class="control-label"></label>
                <input asp-for="update_date" class="form-control" />
                <span asp-validation-for="update_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_user_id" class="control-label"></label>
                <input asp-for="last_user_id" class="form-control" />
                <span asp-validation-for="last_user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qpr_id" class="control-label"></label>
                <input asp-for="qpr_id" class="form-control" />
                <span asp-validation-for="qpr_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ip" class="control-label"></label>
                <input asp-for="ip" class="form-control" />
                <span asp-validation-for="ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viginvespendinglesstwelve" class="control-label"></label>

            </div>
            <div class="form-group">
                <label asp-for="viginvestacbireportqtr" class="control-label"></label>
                <input asp-for="viginvestacbireportqtr" class="form-control" />
                <span asp-validation-for="viginvestacbireportqtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
