<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QPR_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QPR_Application.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    <link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-datatables/jquery.datatables.min.js"></script>
    <link href="~/lib/jquery-datatables/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/css/datatables.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <style>
        /* Add hover effect for dropdown */

        .navbar .dropdown:hover .dropdown-menu {
            display: block;
        }

        .navbar .dropdown-menu {
            display: none;
            margin-top: 0;
        }

        /* Custom styles for better design */
        .navbar-inverse {
            background-color: #2c3e50;
            border-color: #2c3e50;
        }

            .navbar-inverse .navbar-brand {
                color: #ecf0f1;
            }

            .navbar-inverse .navbar-nav > li > a {
                color: #ecf0f1;
            }

            .navbar-inverse .navbar-nav > .dropdown > a:hover {
                background-color: #34495e;
            }

            .navbar-inverse .navbar-nav > .dropdown > a .caret {
                border-top-color: #ecf0f1;
                border-bottom-color: #ecf0f1;
            }

        .dropdown-menu {
            background-color: #34495e;
            border-color: #34495e;
        }

            .dropdown-menu > li > a {
                color: #ecf0f1;
            }

                .dropdown-menu > li > a:hover {
                    background-color: white;
                }

        li a {
            color: white;
        }

        .nav-link {
            color: white;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    @Html.Partial("_CvcLogo")
                </div>
                <a class="navbar-brand text-white" onclick="return false;" style="font-size:30px; padding-bottom:10px">QPR </a>
                <div style="margin: 0 10px ;border-left: 2px solid white; height : 30px"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item ms-auto">
                                @* <a class="nav-link btn btn-secondary text-white " asp-area="" asp-controller="Logout" asp-action="Index">Logout</a> *@
                                @using (Html.BeginForm("Index", "Logout", FormMethod.Post, new { id = "LogoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @* <a class="nav-link btn btn-secondary text-white " asp-area="" asp-controller="Logout" asp-action="Index">Logout</a> *@
                                    @* </li> *@
                                    <a class="nav-link navbar-brand btn btn-secondary text-white" href="javascript:document.getElementById('LogoutForm').submit()">Logout</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted ">
        <div class="container-fluid text-center">
            &copy; 2024 - QPR_Application 
            @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>

</script>
